.form{
  
  &__fieldset{
    border: none;
    margin: 0;
    padding: 0;
  }
  &__title{
    color: $darkNavy;
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    &--sub{
      border-bottom: solid 0.2rem $medBlue;
      
    }
  }
  
  &__label {
    display: block;
    font-weight: 300;
    padding: 0.5rem 0;
  }
  
  &__input, &__textarea, &__select{
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.25rem;
    border-radius: 0.2rem;
    width: 85%;
    
    + span {  
      padding: 0 1rem;
      display: none;
      font-size: 1.6rem;
      position: relative;
      display: none;
    }
    
    &:invalid {
      //border-color: $color-error;
      + .validate{
        display: inline-block;
        &:before{
          color: $color-error;
          content: "\f071";
          font-family: 'FontAwesome';
        }
      }
    }
    
    &:valid{
      + .validate{
        display: inline-block;
        &:before{
          color: $color-success;
          content: "\f00c";
          font-family: 'FontAwesome';
        }
      }  
    }
  }
  &__select{
    background: none;
    height: 36px;
  }
  
  &__input{
    &:disabled, &:read-only{
      background: lighten($grey, 25%);
    }
  }
  
  input[type=submit], button[type=submit]{
    appearance: none;
  }
  
  &__radio{
    display: block;
    input[type=radio]{
      width: 30px;
    }
  }
  
  &__checkbox{
    display: block;
    input[type=checkbox]{
      width: 30px;
    }
  }
}

input[type="search"]{
  -webkit-appearance: none;
  border-radius: 0;
}

textarea{
  resize: vertical;
}

.slate-form{
  
  div[data-required='1']{
    label{
      &::before{
        content: "*";
      }
    }
  }
  
  label{
    font-weight: 200;
    @include padding(null, null, px-to-rem(10px), null);
  }
  
  input, textarea, select{
    display: block;
    width: 100%;
    outline: none;
    border: px-to-rem(1px) solid rgb(230, 232, 236);
    border-radius: px-to-rem(4px);
    font-weight: 200;
    @include padding(px-to-rem(6px), px-to-rem(24px), px-to-rem(6px), px-to-rem(24px));
    &:focus, &:active{
      box-shadow: 0 0 px-to-rem(5px) $medBlue;
      border: px-to-rem(1px) solid $medBlue;
    }
  }
  select {
    appearance: none;
    box-shadow: none;
    background: white;
    background-image: none;
    color: black;
//     flex: 1;
    @include font-size(16px);
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .form_select .form_responses {
    position: relative;
    display: flex;
    width: 100%;
    background: white;
    overflow: hidden;
    border-radius: px-to-rem(4px);
  }
  /* Arrow */
  .form_select .form_responses::after {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6 11.5' style='enable-background:new 0 0 6 11.5;' xml:space='preserve'%3E%3Ctitle%3EForm_Arrow_Down%3C/title%3E%3Cpolygon class='st0' points='6,6.5 0,6.5 3.2,11.5 '/%3E%3Cpolygon class='st0' points='0,5 6,5 2.8,0 '/%3E%3C/svg%3E%0A");
    position: absolute;
    top: px-to-rem(8px);
    right: px-to-rem(12px);
    height: px-to-rem(16px);
    width: px-to-rem(7px);
    background: white;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
  }
  /* Transition */
  .form_select .form_responses:hover::after {
    color: lighten($base-text-color, 10%);
  }
}

.academic-programs{
  display: none;
  
  &__visible {
    display: block;
    } 
  }