img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  
  // if an explicit height/width is defined, let's not make it fluid...
  
  &[width], &[height]{
    max-width: none;
  }
}

body > svg {
  display: none;
}