
a{
  color: $moreBlue;
  text-decoration: underline;
}

.link {
    text-decoration: none;
    font-weight: 400;

    &__item {
        width: 100%;
        margin-bottom: 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        line-height: 1;
        margin-bottom: 0.25rem;
    }

    &__link-arrow {
        height: 12px;
        width: 18px;
        flex-shrink: 0;
        margin-left: 10px;
    }

    .alt-colors {
      color: #FCD612;
          &:hover, &:focus, &:active{
            color: #ffeb85;
        }
    }
}

.back--arrow {
    height: 16px;
    width: 32px;
    padding-bottom: 3px;
}

a[href^=tel]{
  color:inherit;
  text-decoration: inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
}