<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Road to Xavier | Xavier University</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <style>
      .hero{
        background-image: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.20), transparent 2px, rgba(0, 0, 0, 0.20) 4px, transparent 4px ), url("images/hero/Art_Hero@1x.jpg");
        background-image: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.20), transparent 2px, rgba(0, 0, 0, 0.20) 4px, transparent 4px ), -webkit-image-set( url("images/hero/Art_Hero@1x.jpg") 1x, url("images/hero/Art_Hero@2x.jpg") 2x );
        background-image: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.20), transparent 2px, rgba(0, 0, 0, 0.20) 4px, transparent 4px ), image-set( url("images/hero/Art_Hero@1x.jpg") 1x, url("images/hero/Art_Hero@2x.jpg") 2x );
      }
    </style>
  </head>
  <body>
    include "includes/header.accessibility.html"
    <header>
      <div class="header header--fixed" id="header">  
        include "includes/header.html"
      </div>
    </header>
    <!-- Add your site or application content here -->
    <main id="content">
      <section class="hero hero--large">
        <h1 class="hero__title hero--large__title">Art</h1>
      </section>

      <div class="wrapper designed-wrapper">
        
        <div class="content">
          include "includes/breadcrumbs.html"
          
          <div class="video__container">
            <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="BHiWygziyso"></div>
          </div>
          
          <div class="mo mo--road" id="1">
            <div class="mo__img">
              <img src="http://lorempixel.com/230/180/city/1" />
            </div>
            <div class="mo__content">
              <button class="o-btn tt__btn" data-uid="1">
                <span>&hellip;</span>
              </button>
              <h3>Testing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          
          <div class="panel">
            <button class="o-btn tt__btn" data-uid="2">
                <span>&hellip;</span>
              </button>
          <div class="mo mo--road" id="2">
            <div class="mo__content mo__content--full">
              <button class="o-btn tt__btn" data-uid="2">
                <span>&hellip;</span>
              </button>
              <h3>Testing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          
          <div class="mo mo--road">
            <div class="mo__img">
              <img src="http://lorempixel.com/230/180/city/2" />
            </div>
            <div class="mo__content">
              <h3>Testing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          </div>
        </div><!-- /content -->
        <div class="sidebar">
          <div class="panel panel--academic">
            <h2 class="panel__title panel__title--form text--centered">Account Login</h2>
            <form class="form">
              <fieldset class="form__fieldset">
                <legend class="form__title sr-only">Account Login</legend>
                <label class="form__label">Username</label>
                <input type="text" class="form__input" />
                <label class="form__label">Password</label>
                <input type="password" class="form__input" />
                <button class="o-btn c-btn">Sign In</button>
              </fieldset>
            </form>          
          </div><!-- /panel -->
          
          <div class="panel panel--academic tasks">
            <h2 class="panel__title panel__title--form text--centered">To Do List</h2>
            <template>
              <button v-for="task in tasks" class="btn" v-on:click.prevent="modal(task.ID)" :aria-controls="task.ID" aria-expanded="false">{{ task.title }}</button>
              <div v-for="task in tasks" class="modal" :id="task.ID">
                <button aria-label="close task window" class="o-btn modal__close" data-controls="#task" id="cancelButton" style="float: right;" v-on:click="hideModal(task.ID);" aria-hidden="true">
                  <svg class="icon drawer__icon">
                    <use xlink:href="#xu-close" />
                  </svg>
                </button>
                <div class="modal__content">
                  <h2 class="modal__title">{{ task.title }}</h2>
                  <div v-html="task.activeCopy"></div>
                  <p><a :href="task.linkURL" class="link-arrow">{{ task.linkCopy }}</a></p>
                </div>
              </div>
           </template>
          </div>

        </div><!-- /sidebar -->
      </div><!-- /academic-wrapper -->
      
      <div class="spacer spacer--72"></div>
            
      <div id="template">
        <ul class="list--bare">
          <li><a href="#" class="pin">pin item</a></li>
          <li><a href="#" class="dismiss">dismiss</a></li>
        </ul>
      </div>
    </main>
    <!-- End site or application content -->
    include "includes/footer.html"
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // Vue component for Task List
      new Vue({ el: '.tasks',
        data: {
          tasks: [
            {
              ID: 1,
              title: "EARN A $500 GRANT BY SUBMITTING YOUR FAFSA EARLY",
              activeCopy: "<p>Apply to Xavier and file the FAFSA before December 1 to be eligible for a $500 Early Filers Grant. View more about eligibility details at xavier.edu/grant-details.</p><p>If you want to be considered for need-based financial assistance, complete the Free Application for Federal Student Aid (FAFSA) online or request a paper copy of the FAFSA from 800-4FED-AID.The Free Application for Federal Student Aid opened on October 1. When applying, be sure to list Xavier’s federal school code: 003144. If you have filed your tax return, select the IRS Data Retrieval option to automatically transfer tax information and save time.</p>",
              linkCopy: "Click Here",
              linkURL: "https://google.com",
            },
            {
              ID: 2,
              title: "Hello world!",
              activeCopy: "<p>Hello world!</p>",
              linkCopy: "Click Here",
              linkURL: "https://google.com",
            },
            {
              ID: 3,
              title: "Hello world!",
              activeCopy: "<p>Hello world!</p>",
              linkCopy: "Click Here",
              linkURL: "https://google.com",
            }
          ],
          task: '',
        },
        mounted: function(){
          // For Dev...CORS is blocking this
          // this.getTasks();
          this.modal('1');
        },
        methods: { 
          getTasks: function(){
            axios.get('https://www.xavier.edu/api/1.0/tasks/list', {
              params:{
                status: 'active',
                limit: 5,
              }
            }).then( response => {
              this.tasks = response.data;
            }).catch( error => console.log(error));
          },
          hideModal: function(taskId){
            hideModal($("#"+taskId+".modal"));
          },
          modal: function(taskId){
            console.log(taskId);
            showModal($("#"+taskId+".modal"));
          }
        }
      });
    </script>
    <script>
      // Tippy updates. Should be fun...
      const template = document.getElementById('template');
      var itemId = null;
      template.style.display = 'none';
      
      tippy('.tt__btn', {
        theme: 'light-border',
        content: template.innerHTML,
        allowHTML: true,
        interactive: true,
        hideOnClick: false,
        interactiveDebounce: 75,
        onShown(instance){ // Sets the Item Id as soon as the tooltip starts to show
          // Sets the Item ID, so we can reference it later.
          itemId = instance.reference.getAttribute('data-uid');
          console.log(itemId);
          $('.dismiss').on('click', function(e){
            e.preventDefault();
            document.getElementById(itemId).style.display = 'none';
            instance.hide();
            
            
          });
        },
        onHide(instance){ // Clears out the Item Id when the tooltip is closing
          itemId = null;
        }
      });
      
      const player = new Plyr('#player');
    </script>
  </body>
</html>