/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/ 



@font-face {
  font-family: "neuemontreal";
  src: url("../fonts/ppneuemontreal-regular.woff2") format("woff2"), url("../fonts/ppneuemontreal-regular.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "neuemontreal";
  src: url("../fonts/ppneuemontreal-bold_x.woff2") format("woff2"), url("../fonts/ppneuemontreal-bold_x.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family:"orpheuspro";
  src:url("https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aeffc0/00000000000000007735ebd6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:400
}

