///** Global
//  * ====================
//  *
//  *
//  * All variables and most of the configuration is defined here. */
$base-font-size:        16px !default;
$base-line-height:      24px !default;
$base-text-color:       #333 !default;
$base-background-color: #fff !default;
$base-fr-color:         #005639 !default;
$base-fr-color-border:  #002317 !default;

//* Breakpoints -- These values should be based on OUR designs and needs...
// * Names
//   - phone-only
//   - tablet-portrait-up
//   - tablet-landscape-up
//   - desktop-up
//   - big-desktop-up */
$phone-upper-boundary:                              37.5rem;     // ~ 600px
$tablet-portrait-upper-boundary:                    56.25rem;    // ~ 900px
$tablet-landscape-upper-boundary:                   85rem;       // ~ 1360px
$desktop-upper-boundary:                            112.5rem;    // ~ 1800px

// Colors
$background:                                        white;
$darkNavy:                                          #0B223F;
$darkNavyHover:                                     null;
$medBlue:                                           #007DB3;
$medBlueHover:                                      #1B4675;
$grey:                                              #F0F2F3; // OLD GREY #9ea3a3
$darkGrey:                                          #d8d8d8;
$lightBlue:                                         #0099CC;
$lightBlueHover:                                    #0077AA;
$link-color:                                        $darkNavy;
$link-hover-color:                                  $darkNavyHover;
$black:                                              #000000;

$color-info:                                        $medBlue; // OLD INFO COLOR #00529B;
$color-success:                                     #198644;
$color-warning:                                     #9F6000;
$color-error:                                       #D8000C;

// Typography
$font-size:                                         1rem;       // 1rem     == 16px;
$font-style:                                        normal;
$font-variant:                                      normal;
$font-weight:                                       200;
$font-color:                                        #333333;
$font-family:                                       "Frutiger W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height:                                       1.6;

// Padding
$global-spacing:                                    0.5rem;
$padding:                                           0.5rem;     // 0.5rem   == 8px
$margin:                                            1.5rem;     // 1.5rem   == 24px
$content-padding:                                   3.75rem 0;  // 3.75     == 60px
$content-padding-mobile:                            1.875rem 0; // 1.875rem == 30px