.c-btn {
  &--header {
    color: white;
    @include padding(0.25rem, 0.25rem, 0.25rem, 0.25rem);
    border-bottom: solid 0.15rem transparent;
    &:not(:last-child){
      @include margin(null, 1.5rem, null, null);
    }
    
    &:hover, &:focus, &:active {
      border-bottom-color: $accent;
    }
  }
}

/*SVG ICON SYSTEM*/
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}