.wrapper{
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 0.5rem;
  width: 100%;
}

.item{
  border-radius: 0.5rem;
  background: #0099cc;
  height: 288px;
  padding: 1rem;
}

.item__1{}
.item__2{
  grid-column-start: 1;
  grid-column-end: span 2 
}
.item__3{
  grid-column-start: 2;
  grid-column-end: span 3;
}