.accordion{
  $self: &;
  
  &--content-page{
    background: $grey;
    @include padding(px-to-rem(32px), px-to-rem(32px), px-to-rem(32px), px-to-rem(32px));
    
    
    #{$self}__btn{
      text-transform: uppercase;
    }
    
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    border-top: solid px-to-rem(2px) $darkGrey;
    text-align: left;
    @include font-size(16px);
    @include padding(px-to-rem(20px), null, px-to-rem(20px), null);
    @include margin(0, null, null, null);
    transition: none;
    text-transform: none;
    flex-grow: 0;
    &:hover, &:focus{
      background: inherit;
      color: inherit;
      
      #{$self}__icon{
        color: white;
        background: $darkNavy;
      }
    }
    
    &.on{
      
      #{$self}__icon--plus{
        display: none;
      }
      #{$self}__icon--minus{
        display: block;
      }
    }
    
    &:last-of-type{
      border-bottom: solid px-to-rem(2px) $darkGrey;
    }
    
    &:last-of-type{
      &.on{
        border-bottom: none;
      }
    }
  }
  &__icon{
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
    height: px-to-rem(28px);
    width: px-to-rem(28px);
    flex-basis: px-to-rem(28px);
    color: $darkNavy;
    border: solid px-to-rem(1.25px) $darkNavy;
    border-radius: px-to-rem(8px);
    @include margin(- px-to-rem(2px), px-to-rem(12px), null, px-to-rem(12px));
    @include for-size("tablet-landscape-up"){
      @include margin(- px-to-rem(2px), px-to-rem(24px), null, null);
    }
    
    &--plus{
      display: block;
    }
    
    &--minus{
      display: none;
    }
  }
  &__title{
    @include margin(0, null, null, null);
    @include font-size(16px);
    font-weight: 200;
    font-style: italic;
  }
  &__content{
    display: none;
    
    &:last-of-type{
      border-top: none;
      border-bottom: solid px-to-rem(2px) $darkGrey;
    }
    
    &.visible{
      display: block;
    }
  }
  
  &__list{
    @include margin(0, null, px-to-rem(32px), px-to-rem(16px));
  }
  
  &--mobile{
    #{self}__btn{
      display: block;
      @include for-size("tablet-landscape-up"){
        display: none;
      }
    }
  }
}