.apply{
    background-color: #f0f2f3;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

   &--content{
      height:100%;
  } 
  h2{
    font-weight:400;
    text-transform:uppercase;
    color:$darkNavy;
    text-align:center;
    font-size:2rem;
  }
  p{
    font-size:18px;
    @include for-size("tablet-landscape-up"){
      margin-left:5rem;
      margin-right:5rem;
    }
    @include for-size("desktop-up"){
      margin-left:13rem;
      margin-right:13rem;
    }
  }
  &__feature{
    margin-top:px-to-rem(32px);
  }

  &__title{
    font-size:18px !important;
    padding-top:0 !important;
    
  }
  &__top{
    padding-top:3rem;
  }

  &__bottom{
    padding-bottom:10rem;
  }
}

