.crumbs{
    display: block;
  
  @include padding(px-to-rem(44px), null, px-to-rem(24px), 0);
  @include font-size(14px);
  &__item{
    font-weight: 300;
    &:not(:last-child):after{
      content: "+";
      @include padding(null, px-to-rem(1px), null, px-to-rem(4px));
    }
  }
  &__link{
    text-decoration: underline;
    color: $acceptableGrey;
    
    &:hover, &:focus, &:active {
      color: $medBlue;
    }
  }
  &__current{
    color: $acceptableGrey;
  }
}