.c-btn{
  color: white;
  display: block;
  border: solid px-to-rem(1px) $medBlue;
  background: lighten($darkNavy, 6%);
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.25s ease;
  @include padding(0.65rem, 0.5rem, 0.65rem, 0.5rem);
  @include margin (1rem, null, 1rem, null);
  &:hover, &:focus, &:active{
    background: #1B4675;
    border-color: #1B4675;
    margin-left: 0;
  }
}