.c-btn, .btn{
  color: white;
  display: block;
  border: solid px-to-rem(1px) $medBlue;
  background: $medBlue;
  border-radius: 0;
  text-align: center;
}

a {
  &.btn {
    color: $xavierBlue !important;
    border: none;
    background-color: $moreYellow !important;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    font-weight: 400;
    padding: .75rem 2rem;
  }
}


.o-btn {
    border: none;
    background: none;
    transition: all 0.25s ease;
    text-decoration: none;
    cursor: pointer;
    padding: 0;

  &--hero{
    background-color:rgba(0,0,0,0.55);
    border: 1px solid white;
    border-radius: 0;
    text-align:center;
    @include padding(px-to-rem(15px), px-to-rem(70px), px-to-rem(15px), px-to-rem(70px));
    display: inline-block;
    @include margin(px-to-rem(16px), null, null, null);
    @include for-size("tablet-landscape-up"){
      &:first-of-type {
        margin-right: 1rem;
      }
    }
    &:hover, &:focus, &:active{
      background: white;
      color: black;
      border-color: white;
      @include padding(px-to-rem(15px), px-to-rem(70px), px-to-rem(15px), px-to-rem(70px));
    }
    
    @include for-size("phone-only"){
      width: 80% !important;
      margin-bottom: 0;
      @include padding(px-to-rem(15px), px-to-rem(32px), px-to-rem(15px), px-to-rem(32px));
      border-radius: 0;
      
      &:hover, &:focus{
        @include padding(null, px-to-rem(32px), null, px-to-rem(32px));  
      }
    }
  }
  
  &--hero-alt{
    display: block;
    border-radius: 0;
    border-width: px-to-rem(2px);
    @include margin(null, px-to-rem(8px), null, px-to-rem(8px));
    @include for-size("tablet-landscape-up"){
      display: inline-block;
    }
  }

  &--featured-links {
    @include padding(px-to-rem(25px), px-to-rem(16px), px-to-rem(25px), px-to-rem(16px));
    @include for-size("tablet-landscape-up"){
      @include margin(px-to-rem(16px), null, null, null);
    }
    
  }
  
  &--inline{
    display: inline-block;
    @include padding(px-to-rem(10.4px), px-to-rem(20px), px-to-rem(10.4px), px-to-rem(20px));
    
    &:hover, &:focus, &:active{
      @include padding(px-to-rem(10.4px), px-to-rem(20px), px-to-rem(10.4px), px-to-rem(20px));
    }
  }
  
  &--secondary {
	  background: transparent;
    border-color: #007DB3;
    color: #007DB3;
    &:hover, &:focus, &:active {
	    background: #007DB3;
      border-color: #007DB3;
      color: white;
    }
  }
}

.action{
  button{
    @extend .c-btn;
    font-weight: 200;
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
    @include margin(null, auto, null, auto);
    &:hover, &:focus, &:active{
      @include margin(null, auto, null, auto);
      @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
    }
  }
}

.tt{
  cursor: pointer;
  padding: 0;

  &__btn{
    background: white;
    border-radius: 0;
    border: solid px-to-rem(1px) $medBlue;
    color: $medBlue;
    height: px-to-rem(28px);
    width: px-to-rem(28px);
    @include font-size(15px, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: px-to-rem(8px);
    right: px-to-rem(8px);
    z-index: 1;   
    
    span{
      @include margin(-#{px-to-rem(6px)}, null, null, null);
    }
    
    &:hover, &:focus{
      background: $darkNavy;
      color: white;
    }
  }
}