.c-btn{
  color: white;
  display: block;
  border: solid px-to-rem(1px) $medBlue;
  background: lighten($darkNavy, 6%);
  border-radius: px-to-rem(8px);
  text-align: center;
  transition: all 0.25s ease;
  text-transform: uppercase;
  @include padding(px-to-rem(10.4px), px-to-rem(8px), px-to-rem(10.4px), px-to-rem(8px));
  
  @include for-size("phone-only"){
    @include padding(px-to-rem(13px), px-to-rem(8px), px-to-rem(13px), px-to-rem(8px));  
  }
  
  @include margin (px-to-rem(16px), null, px-to-rem(16px), null);
  &:hover, &:focus, &:active{
    background: #1B4675;
    border-color: #1B4675;
    color: white;
    margin-left: 0;
  }

  &--dark-navy{
    border-color: darken($darkNavy, 10%);
  }

  &--hero{
    background-color:transparent;
    border: 1px solid white;
    border-radius: px-to-rem(25px);
    text-align:center;
    @include padding(px-to-rem(15px), px-to-rem(70px), px-to-rem(15px), px-to-rem(70px));
    display: inline-block;
    @include margin(px-to-rem(16px), null, null, null);
    &:hover, &:focus, &:active{
      background: white;
      color: black;
      border-color: white;
    }
    @include for-size("phone-only"){
      @include padding(px-to-rem(15px), px-to-rem(32px), px-to-rem(15px), px-to-rem(32px));
      border-radius: px-to-rem(23px);
    }
  }

  &--feature {
    @include padding(px-to-rem(25px), px-to-rem(16px), px-to-rem(25px), px-to-rem(16px));
  }
}

.action{
  button{
    @extend .c-btn;
    font-weight: 200;
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
    @include margin(null, auto, null, auto);
    &:hover, &:focus, &:active{
      @include margin(null, auto, null, auto);
    }
  }
}