.commitment {
  background-color: rgba(#fff, 0.85);
  text-align:center;
  
  &--title{
    color: $darkNavy;
    text-transform: uppercase;
    @include padding(px-to-rem(40px), null, px-to-rem(24px), null);
    @include font-size(24px);
    @include for-size("phone-only"){
      padding-top: 2.5rem;
      padding-bottom: 1rem;
    }
  }
  &--hr{
    background-color: $medBlue;
    height: px-to-rem(2px);
    border: none;
    @include margin(null, auto, null, auto);
    @include for-size("tablet-landscape-up"){
      width: 35%;
    }
    
  }
  
  &--text {
    @include padding(0, px-to-rem(16px), px-to-rem(32px), px-to-rem(16px));  
    @include font-size(28px);
    text-align: center;
    @include for-size("phone-only"){
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
    }
  }
}

.cincyMap {
	display: none;
	@include for-size("tablet-portrait-up"){
		display: block;
	}
}