.content-page {

  @include for-size("tablet-landscape-up"){
    margin-left: -2rem;
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: px-to-rem(300px) 1fr; 
    grid-template-columns: 22rem 1fr; 
    -ms-grid-rows: px-to-rem(76px) 2fr; 
    grid-template-rows: px-to-rem(76px) 2fr; 
    grid-row-gap: 0;
    grid-column-gap: px-to-rem(135px / 2);
  }
  @include for-size("desktop-up"){
    grid-column-gap: 5rem;
    margin-left: -5.875rem;
  }
  
  &--no-nav{
    display: block;
  }
  
  &__breadcrumbs{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  &--nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    @include margin(px-to-rem(16px), null, null, null);
    @include padding(null, px-to-rem(12px), null, null);
    
    @include for-size("tablet-landscape-up"){
      padding: 3rem 1rem 2rem 5rem;
      background: none;
    }
    
    &__controls{
      // Button styles here
      display: block;
      text-transform: uppercase;
      color: $darkNavy;
      font-size: 18px !important;
      font-weight: 300 !important;
      
      @include for-size("tablet-landscape-up"){
        display: none;
      }
    }
    
    &__item {
       position: relative;
       border-top: 0.0625rem #0C2340 solid;

        &:first-child{
          border-top: none;
        }
    }
    
    &__link{
      color: #000;
      text-decoration: none;
      min-height: px-to-rem(56px);
      display: flex;
      align-items:center;
      @include padding(px-to-rem(10px), null, px-to-rem(10px), null)
      @include for-size("tablet-landscape-up"){
        color: #fff;
      }
    }

    &__link:before {
      @include for-size("tablet-landscape-up"){
        content: '';
        position: absolute;
        width: calc(100% + 1rem);
        height: 2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #fcd612;
        border-color: #fcd612;
        bottom: 6px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    }

    &__link:hover::before {
      @include for-size("tablet-landscape-up"){
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    &__link:hover {
        color:$acceptableGrey;
    }

    &__link.active {
      font-weight: 700;
    }

    &__link.active:before{
      @include for-size("tablet-landscape-up"){
        content: '';
        position: absolute;
        width: calc(100% + 1rem);
        height: 2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: $yellow;
        border-color: $yellow;
        bottom: 6px;
        left: 0;
        transform-origin: left;
      }
    }
  }
  
  
  &--subnav{
    
    &__list{
      font-style: italic;
      @include margin(null, null, px-to-rem(15px), px-to-rem(0px));
      @include padding(null, null, null, px-to-rem(10px));
      border-left: px-to-rem(3px) solid $medBlue;
    }
  }
  
  &--main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    padding-bottom: 4rem;
  }
  p > img{
    @include for-size("tablet-landscape-up"){
      float: left;
      @include margin(null, px-to-rem(24px), px-to-rem(2px), null);
      object-fit: cover;
      width: 300px;
      height: 230px;
    }
  }
}

.img--fw {
  max-width : 100% !important;
  -ob-object-fit : unset !important;
  object-fit : unset !important;
  width : auto !important;
  height : auto !important;
  float: none !important;
}

// MENU

.sidenav {
  $self: &;
    border-top: solid 0.125rem #0C2340;
    border-bottom: solid 0.125rem #0C2340;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  
  @include for-size("tablet-landscape-up"){
    border:none;
    background-color: #0C2340;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(https://www.xavier.edu/_V5/_assets/images/navshape.png);
    background-size: cover;
  }
  
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: solid px-to-rem(2px) $darkGrey;
    text-align: left;
    @include font-size(16px);
    @include padding(px-to-rem(16px), null, px-to-rem(16px), null);
    @include margin(0, null, null, null);
    transition: none;
    @include for-size("tablet-landscape-up"){
      display: none;
    }
    &.on{
      @include padding(null, null, 0, null);
      
      #{$self}__icon--plus{
       display: none;
      }
      #{$self}__icon--minus{
       display: block;
      }
    }
      
    &:first-child{
      border-top: none;
    }
  }

  &__icon {
      height: px-to-rem(28px);
      width: px-to-rem(28px);
      color: $darkNavy;
      border: solid px-to-rem(1.25px) $darkNavy;
      border-radius: px-to-rem(8px);
      
      &--plus{
      display: block;
      color: $darkNavy;
      }
      
      &--minus{
        display: none;
        color: $darkNavy;
      }
  }
  
  &__content {
    @include for-size("tablet-landscape-up"){
      display: block;
    }
      display: none;
      
      &.visible {
      display: block;
    }
    
    ul>li>ul {
      ul {
        border-left:none;
      }
    }
  }
}

.resp-table {
  overflow-x: auto;
  white-space: nowrap;
  @include for-size("tablet-landscape-up"){
    overflow-x: unset;
    white-space: normal;
  }
}