.content-page {
  display: flex;
  flex-direction: column;
  @include margin(null, null, px-to-rem(100px), null);
  @include for-size("tablet-landscape-up"){
    flex-direction: row;  
    justify-content: space-between;
  }
  
  
  &--nav {
    @include padding(px-to-rem(15px), null, null, null);
    @include margin( null, 0, null, null);
    @include for-size("tablet-landscape-up"){
      @include margin( null, px-to-rem(135px), null, null);
      flex: none;
      flex-basis: px-to-rem(350px);
      
    }
    &__controls{
      // Button styles here
      display: block;
      
      @include for-size("tablet-landscape-up"){
        display: none;
      }
    }
    
    &__list{
    }
    
    &__item {
      @include font-size(14px);
      border-top: 1px #d8d8d8 solid;
       
      &:first-child{
        border-top: none;
      }
    }
    
    &__link{
      color: $base-text-color;
      text-decoration: none;
      min-height: 56px;
      display: flex;
      align-items:center;
      @include padding(px-to-rem(10px), null, px-to-rem(10px), null)
      
      &.active{
        font-weight: 400;
      }
    }
  }
  
  &--subnav{
    
    &__list{
      font-size: 14px;
      font-style: italic;
      margin-left: 0px;
      margin-bottom: 15px;
      padding-left: 10px;
      border-left: 3px solid #497f90;
    }
  }
  
  &--main {
    // Eventually we'll move these. Waiting on JQuelin to define these.
    h2{
      text-transform: uppercase;
      color: $darkNavy;
      font-weight: 400;
    }
    
    h3{
      color: $base-text-color;
      font-weight: 300;
      @include font-size(20px);
    }
  }
}

#video-overlay{
  background: rgba(0,0,0,.85);
  transition: all .75s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  user-select: none;
  display: none;
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
}

.video-overlay-container{
  padding: 5%;
  vertical-align: middle;
}


// MENU

.sidenav__btn {
    display: block;
    width: 100%;
    border-top: solid 0.125rem #cfd0d1;
    text-align: left;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 0;
    -webkit-transition: none;
    transition: none;
}

.sidenav__icon {
    float: right;
    height: 1.75rem;
    width: 1.75rem;
    color: #0B223F;
    border: solid 0.078125rem #0B223F;
    border-radius: 0.5rem;
    margin-top: -0.125rem;
    margin-right: 1.5rem;
    
    &--plus {
        display: block;
    }
    &--minus {
        display: none;
    }
}

.sidenav__content {
  @include for-size("tablet-landscape-up"){
    display: block;
  }
    display: none;
    
    &.visible {
    display: block;
  }
}







