.content-page {

  @include margin(null, null, px-to-rem(100px), null);
  @include for-size("tablet-landscape-up"){
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: px-to-rem(300px) 1fr; 
    grid-template-columns: px-to-rem(300px) 1fr; 
    -ms-grid-rows: px-to-rem(76px) 2fr; 
    grid-template-rows: px-to-rem(76px) 2fr; 
    grid-row-gap: 0;
    grid-column-gap: px-to-rem(135px / 2);
  }
  @include for-size("desktop-up"){
    grid-column-gap: px-to-rem(135px);
  }
  
  &--no-nav{
    display: block;
  }
  
  &__breadcrumbs{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  &--nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    @include margin(px-to-rem(16px), null, null, null);
    @include padding(null, px-to-rem(12px), null, null);
    
    @include for-size("tablet-landscape-up"){
      padding: 0;
      background: none;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        @include padding(null, px-to-rem(135px / 2), null, null);
      } 
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @include padding(null, px-to-rem(135px / 2), null, null);
      }
    }
    
    &__controls{
      // Button styles here
      display: block;
      text-transform: uppercase;
      color: $darkNavy;
      font-size: 18px !important;
      font-weight: 300 !important;
      
      @include for-size("tablet-landscape-up"){
        display: none;
      }
    }
    
    &__item {
      border-top: px-to-rem(1px) $darkGrey solid;
       
      &:first-child{
        border-top: none;
      }
    }
    
    &__link{
      color: #000;
      text-decoration: none;
      min-height: px-to-rem(56px);
      display: flex;
      align-items:center;
      @include padding(px-to-rem(10px), null, px-to-rem(10px), null)
      
      &.active{
        font-weight: 300;
      }
      
      &:hover, &:focus{
        color: $medBlueHover;
        text-decoration: underline;
      }
    }
  }
  
  
  &--subnav{
    
    &__list{
      font-style: italic;
      @include margin(null, null, px-to-rem(15px), px-to-rem(0px));
      @include padding(null, null, null, px-to-rem(10px));
      border-left: px-to-rem(3px) solid $medBlue;
    }
  }
  
  &--main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  p > img{
    @include for-size("tablet-landscape-up"){
      float: left;
      @include margin(null, px-to-rem(24px), px-to-rem(2px), null);
      object-fit: cover;
      width: 300px;
      height: 230px;
    }
  }
}

.img--fw {
  max-width : 100% !important;
  -ob-object-fit : unset !important;
  object-fit : unset !important;
  width : auto !important;
  height : auto !important;
  float: none !important;
}

// MENU

.sidenav {
  $self: &;
  border-top: solid px-to-rem(2px) $darkGrey;
  border-bottom: solid px-to-rem(2px) $darkGrey;
  @include margin(px-to-rem(24px), null, px-to-rem(24px), null);
  
  @include for-size("tablet-landscape-up"){
    border:none;
  }
  
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: solid px-to-rem(2px) $darkGrey;
    text-align: left;
    @include font-size(16px);
    @include padding(px-to-rem(16px), null, px-to-rem(16px), null);
    @include margin(0, null, null, null);
    transition: none;
    @include for-size("tablet-landscape-up"){
      display: none;
    }
    &.on{
      @include padding(null, null, 0, null);
      
      #{$self}__icon--plus{
       display: none;
      }
      #{$self}__icon--minus{
       display: block;
      }
    }
      
    &:first-child{
      border-top: none;
    }
  }

  &__icon {
      height: px-to-rem(28px);
      width: px-to-rem(28px);
      color: $darkNavy;
      border: solid px-to-rem(1.25px) $darkNavy;
      border-radius: px-to-rem(8px);
      
      &--plus{
      display: block;
      color: $darkNavy;
      }
      
      &--minus{
        display: none;
        color: $darkNavy;
      }
  }
  
  &__content {
    @include for-size("tablet-landscape-up"){
      display: block;
    }
      display: none;
      
      &.visible {
      display: block;
    }
    
    ul>li>ul {
      ul {
        border-left:none;
      }
    }
  }
}

.resp-table {
  overflow-x: auto;
  white-space: nowrap;
}