.cta-card{
  background-color: #f0f2f3;
  min-height: 85vh;
  @include for-size ("phone-only") {
    @include padding(px-to-rem(96px), px-to-rem(16px), px-to-rem(64px), px-to-rem(16px));
  }
  @include padding(px-to-rem(96px), null, px-to-rem(64px), null);
  
  &__header{
    text-align:center;
    @include padding(null, px-to-rem(0px), px-to-rem(36px), px-to-rem(0px));
    @include for-size ("tablet-landscape-up") {
      @include padding(null, px-to-rem(48px), px-to-rem(48px), px-to-rem(48px));
    }
  }
  
  &__3x1 { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;  
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @include for-size("desktop-up"){
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
    
  }
  
  &__3x2{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;  
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @include for-size("tablet-landscape-up"){
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 16px;
        grid-row-gap: 16px; 
    }
    @include for-size("desktop-up") {
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
  
  &__2x1{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 16px; 
    @include for-size("tablet-landscape-up") {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 0px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
    
  &__2x2 { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 16px; 
    @include for-size("tablet-landscape-up") {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px; 
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
    
  &__1x1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
      
  h1{
    text-transform:uppercase;
    @include font-size(32px);
    font-weight:400;
    color:$darkNavy;
  }
  
}