.cta-card{
  background-image: url('/_V5/_assets/images/cards/cards_bg.png');
  background-position: left;
  background-size: cover;
  background-color: #f0f2f3;
  //min-height: 85vh;
  @include for-size ("phone-only") {
    @include padding(px-to-rem(96px), px-to-rem(16px), px-to-rem(96px), px-to-rem(16px));
  }
  @include padding(px-to-rem(128px), null, px-to-rem(128px), null);
  
  &__header{
    text-align:center;
    @include padding(null, px-to-rem(0px), px-to-rem(36px), px-to-rem(0px));
    @include for-size ("tablet-landscape-up") {
      @include padding(null, px-to-rem(48px), px-to-rem(48px), px-to-rem(48px));
    }
  }

  &__4x2{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;  
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @include for-size("tablet-landscape-up"){
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 16px;
        grid-row-gap: 16px; 
    }
    @include for-size("desktop-up") {
      display: grid; 
      grid-template-columns: repeat(4, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
  
  &__3x1 { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;  
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @include for-size("desktop-up"){
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
    
  }
  
  &__3x2{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;  
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @include for-size("tablet-landscape-up"){
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 16px;
        grid-row-gap: 16px; 
    }
    @include for-size("desktop-up") {
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
  
  &__2x1{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 16px; 
    @include for-size("tablet-landscape-up") {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 0px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
    
  &__2x2 { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 16px; 
    @include for-size("tablet-landscape-up") {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: 16px;
      grid-row-gap: 16px; 
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
    
  &__1x1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: block;
      > div{
        @include margin( px-to-rem(16px), null, px-to-rem(16px), null);
      }
    }
  }
      
  h1{
    text-transform:uppercase;
    @include font-size(32px);
    font-weight:400;
    color:$darkNavy;
  }
  
}

.image_gallery{

  .gallery-card {
     display: inline-table;
  }

  .gallery-item {
    margin: 0.25rem;
    text-align: center;

    img {
     -webkit-box-shadow: 5px 5px 10px 0px rgba(148,148,148,1);
     -moz-box-shadow: 5px 5px 10px 0px rgba(148,148,148,1);
     box-shadow: 5px 5px 10px 0px rgba(148,148,148,1);
     max-width: 100%;
     float: none;
    
    }
  
  }

  .img-caption {
     text-align: left;
     margin-top: 8px;
     line-height: 1.2rem;
     font-size: 15px;
  }

}

