.designed-wrapper { 
  position: relative;
  
  @include for-size("tablet-landscape-up"){
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: 1fr 400px; 
    grid-template-columns: 1fr 400px; 
    -ms-grid-rows: 1fr 2fr; 
    grid-template-rows: 1fr 2fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    @include margin(0, null, null, null); 
  }
  
  &__no-sidebar{
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-bottom: px-to-rem(32px);
    }
  }
   
  .designed-cta { 
    @include for-size("tablet-landscape-up"){
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-area: 1 / 2 / 2 / 3; 
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        max-width:400px;
      }
    }
  }
  .content { 
    @include for-size("tablet-landscape-up"){
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-area: 1 / 1 / 3 / 2;
      @include padding(null, px-to-rem(96px / 2), null,  null);
    }
    @include for-size("desktop-up"){
      @include padding(null, px-to-rem(96px), null, null);
    }
  } 
  .sidebar { 
    @include for-size("tablet-landscape-up"){
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-area: 1 / 2 / 3 / 3; 
    }
  }
}

.statement {
  margin-bottom: px-to-rem(16px);
}