.footer{
  background: $darkNavy;
  border-top: solid px-to-rem(4px) $medBlue;
  @include padding(px-to-rem(32px), null, px-to-rem(64px), null);
  &__nav-list{
    @include padding(0, null, px-to-rem(32px), null);
    @include margin(0, null, 0, null);
  } 
  &__nav-item{
    text-transform: uppercase;
    width: 100%;
  }
}

.nav-colophon{
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  @include font-size(14px);
  &__item{
    display: block;
    @include for-size("tablet-landscape-up"){
      display: inline;
      &--border-right {
        @include for-size("tablet-landscape-up"){
          border-right: solid 1px white;
        }
      }
    }
  }
  &__link{
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
    @include padding(0, px-to-rem(16px), 0, px-to-rem(16px));  
  }
}

.colophon{
  margin: 0;
  color: white;
  text-align: center;
  @include font-size(14px);
  &__container{
    @include padding(px-to-rem(8px), null, null, null);
  }
  &__item{
    display: block; 
    @include for-size("tablet-landscape-up"){
      display: inline;
      @include padding(0, px-to-rem(16px), 0, px-to-rem(16px));
    }
    &--border-right{
      @include for-size("tablet-landscape-up"){
        border-right: solid 1px white;
      }
    }
  }
}
