.header-ui{
  $self: &;

  background-color: $moreBlue;
  height: 4rem;
  padding-right: 2rem;
  align-content: center;
  z-index: 99;
  
  &__btn{
    color: $white;
    font-weight: 200;
    font-size: 0.875rem;
    display: inline-block;

    &--text{
      display: none;
        @include for-size(tablet-portrait-up){
          padding-left: 0.5em;
          display: inline;
        }
    }
    
    &--menu{
      margin-left: 1rem;
    }
    
    &--search{
      margin-left: 2rem;
      padding-right: 1rem;
      border-right: solid 1px $white;
        &:hover, &:active, &:focus{
          @include for-size(tablet-portrait-up){

          }
        #{$self}__icon--search{
          transform: scale(1.25);
        }
      }
    }
  }

  &__icon{
    height: 1.25rem;
    margin-top: 0;
    width: 1.5rem; 
    transition: transform 250ms ease;

    &--search{
      transform: scale(1.25);
    }
  }
}

.navigation {
  z-index: 99;
}