.search-drawer{
  background: rgba(27,70,117,1);
  position: fixed;
  transition: all 250ms;
  width: 100vw;
  right: calc(-1*100vw);
  &.visible{
    right: 0;
  }    
}
.site-search{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  @include margin(0, auto, 0, auto);
  @include padding(2rem, null, 2rem, null);
  &__btn{
    color: white;
    background: $medBlue;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    width: px-to-rem(100px);
    @include padding(0.6rem, 0.4rem, 0.6rem, 0.4rem);
    
    &:hover, &:focus, &:active{
      background: #0077AA;
    }
  }
  &__input-text{
    font-size: 1rem;
    font-weight: 200;
    border: none;
    width: 100%;
    @include padding(0.6rem, 0.4rem, 0.6rem, 0.4rem);
  }
}