.search__header{
  background: white;
  @include padding(1.5rem, 3rem, 1.5rem, 3rem);
  top: -100px;
  transition: all 400ms linear;
  position: absolute;
  width: 100%;
  box-shadow: 0 15px px-to-rem(16px) rgba(black, 0.10);
}

.drawer--search.visible {
  .search__header{
    top:0;
    position: relative;
  }
}

.site-search{
  width: 100%;
  &__btn{
    color: white;
    background: $medBlue;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    width: px-to-rem(100px);
    @include padding(0.6rem, 0.4rem, 0.6rem, 0.4rem);
    
    &:hover, &:focus, &:active{
      background: #0077AA;
    }
  }
  
  &__icon{
    color: lighten(black, 45%);
    cursor: default;
    height: px-to-rem(20px);
    width: px-to-rem(20px);
    position: fixed;
      top:0;
      left: 0;
    @include margin(px-to-rem(40px), null, null, px-to-rem(20px));
    @include for-size(tablet-landscape-up){
      @include margin(null, null, null, px-to-rem(40px));
    }
  }
  &__input-text{
    font-size: 1.25rem;
    font-weight: 200;
    border: none;
    @include margin(null, null, null, 0);
    width: 90%;
    @include padding(px-to-rem(10px), 0.6rem, px-to-rem(10px), 0.6rem);
    @include for-size(tablet-landscape-up){
      @include margin(null, null, null, 1.5rem);  
    }
    
    &:focus {
      ~ .site-search__icon{
        color: $medBlue;
      }
    }
  }
}

.search{
  @include margin(2rem, 3rem, 3rem, 3rem);
  display: flex;
  flex-wrap: wrap;
  &__close{
    @include margin(px-to-rem(27px) !important, null, null, px-to-rem(10px));
    @include for-size(tablet-landscape-up){
      @include margin(null, null, null, px-to-rem(40px));
    }
  }
  &__intro{
    text-align: center;
    font-size: px-to-rem(20px);
    color: lighten(black, 45%);
    flex-grow: 3;
    @include for-size(tablet-landscape-up){
      @include padding(null, 15%, null, 15%);  
    }
  }
  &__sidebar{
    display: none;
    width: 150px;
    margin-right: 50px;
    @include for-size("tablet-landscape-up"){
      width: 300px;
    }
    &.visible{
      @include for-size("tablet-landscape-up"){
        display: block;
      }
    }
  }
  
  &__heading{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: solid px-to-rem(1px) darken(#F9FAFB, 10%);
    @include padding(null, null, 0.5rem, null);
  }
  
  &__facets{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__facet-count{
    color: lighten(black, 45%);
    float: right;
    @include font-size(14px);
    display: inline-block;
  }
  &__facet-item{
    display: block;
  }
  &__facet-link{
    color: $medBlue;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: darken($medBlue, 15%);
    }

    &.is-active{
      font-weight: 300;
    }
  }
  &__results{
    width: 100%;
    @include for-size("tablet-landscape-up"){
      width: calc(100% - 350px);  
    }
  }
  
  &__result{
    text-decoration: none;
    display: block;
    width: 100%;
    @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    &:hover, &:focus, &:active{
      background: white;
      box-shadow: 0 0 px-to-rem(8px) rgba(black, 0.15);
    }
    
    a{
      color: $medBlue;
      text-decoration: none;
      &:hover, &:focus, &:active{
        color: darken($medBlue, 15%);
        text-decoration: underline;
      }  
    }
    
  }
  &__title{
    @include font-size(20px, 1.25);
    font-weight: 300;
    color: $darkNavy;
  }
  &__content{
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);
  }
  &__image{
    width: px-to-rem(150px);
    height: px-to-rem(150px);
    float: right;
    display: none;
  }
  &__contact{
    display: block;
    @include margin(0.5rem, null, null, null);
  }
  &__url{
    color: lighten(black, 45%);
    display: block;
  }
  &__description{
    display: block;
    border-left: solid px-to-rem(1px) darken(#F9FAFB, 10%);
    @include padding(px-to-rem(4px), null, px-to-rem(4px), px-to-rem(8px));
    color: $base-text-color;
  }
  &__tag{
    display: inline-block;
    @include margin(0.5rem, null, 0.5rem, 0);
    @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    color: $darkNavy;
    background: white;
    @include font-size(14px);
    text-transform: uppercase;
  }
  &__nav-container{
    border-top: solid px-to-rem(1px) darken(#F9FAFB, 10%);
    text-align: center;
  }
  &__nav{
    display: inline-block;
    @include margin(1rem, 0.5rem, 1rem, 0.5rem);
    color: $medBlue;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: darken($medBlue, 15%);
      text-decoration: underline;
    }  
  }
}