:root{
  --drawer-width: 100vw;
  @include for-size(tablet-landscape-up){
    --drawer-width: px-to-rem(532px);  
  }
}

.drawer{
  background: $darkNavy;
  display: none;
  width: 100vw;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 100;
  width: var(--drawer-width);
  @include padding(null, px-to-rem(16px), null, px-to-rem(16px));
//   transition: right 250ms;
  @include for-size(tablet-landscape-up){
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
  }
  &.visible{
    display: block;
    animation: slide-in 250ms forwards;
  }
  
  &__btn{
    color: rgba(white, 0.75); // Without a fill color; this will take hold.
    @include margin(px-to-rem(24px), null, null, null);
    float: right;
    padding: px-to-rem(8px);
    &:hover, &:focus, &:active{
      color: white;
    }
    @include clearfix();
  }
  
  &__icon{
    height: px-to-rem(24px);
    width: px-to-rem(24px);
  }
}

@keyframes slide-in{
  100%{
    transform: translateX(0);
  }
}

@keyframes slide-out{
  100%{
    transform: translateX(100%);
  }
}