.header{
  position: fixed;
  align-items: center;
  display: flex;
  width: 100vw;
  flex-direction: row;
  height: px-to-rem(96px);
  justify-content: space-between;
  transition: height 250ms ease, background 100ms ease;
  z-index: 1;
  @include padding(null, px-to-rem(32px), null, px-to-rem(32px));
  @include for-size("desktop-up"){
    @include padding(null, px-to-rem(94px), null, px-to-rem(94px));
  }
  
  &--background{
    background: $darkNavy;
  }
  
  &__link{
    font-weight: 200;
    color: white;
    text-decoration: none;
    border-bottom: solid 0.15rem transparent;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    
    &::after{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: px-to-rem(3px);
      @include margin(0.75rem, null, null, null);
      transform: scale(0,1);
      transition: transform 0.4s cubic-bezier(1,0,0,1);
      background: white;
      content: '';
      transform-origin: right top;
    }
    
    &:hover, &:focus, &:active{
      &::after{
        transform: scale(1,1);
        transform-origin: left top;  
      }
    }
  }
  &--fixed{
    top: 0;
    height: px-to-rem(58px);
    background: $darkNavy;
    .branding__logo{
      height: px-to-rem(30px);
      &--x{
        width: px-to-rem(39px);
      }
      &--wordmark{
        width: px-to-rem(112px);
      }
    }
    ~ .search-drawer{
      top: px-to-rem(58px);
      background: rgba(27,70,117,1);
    }
  }
}