:root{
  --drawer-width: 100vw;
  @include for-size(tablet-landscape-up){
    --drawer-width: px-to-rem(532px);  
  }
}

.drawer{
  background: $darkNavy;
  display: block;
  overflow-y: scroll;
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  transform: translateX(100%);
  transition: 250ms linear all;
  width: var(--drawer-width);
  visibility: hidden;
  z-index: 100;
  @include padding(null, px-to-rem(16px), null, px-to-rem(16px));
  @include for-size(tablet-landscape-up){
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
  }
  
  &--full{
    width: 100%;
  }
  
  &.visible{
    transform: translateX(0);
    visibility: visible;
  }
  
  &__btn{
    color: rgba(white, 0.75); // Without a fill color; this will take hold.
    position: fixed;
      top:0;
      right: 0;
    @include padding(px-to-rem(8px), px-to-rem(8px), px-to-rem(8px), px-to-rem(8px));
    @include margin(px-to-rem(24px), px-to-rem(40px), null, null);
    &:hover, &:focus, &:active{
      color: white;
    }
    @include clearfix();
  }
  
  &__icon{
    height: px-to-rem(24px);
    width: px-to-rem(24px);
  }
}

@keyframes slide-in{
  100%{
    transform: translateX(0);
  }
}

@keyframes slide-out{
  100%{
    transform: translateX(100%);
  }
}