:root{
  --drawer-width: 100vw;
  @include for-size(tablet-landscape-up){
    --drawer-width: px-to-rem(532px);  
  }
}

.drawer{
  background: $darkNavy;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: calc(-1*var(--drawer-width));
  overflow-y: scroll;
  z-index: 100;
  width: var(--drawer-width);
  @include padding(null, 1rem, null, 1rem);
  transition: right 250ms;
  @include for-size(tablet-landscape-up){
    @include padding(null, 3rem, null, 3rem);
  }
  
  &.visible{
    right: 0;
  }
  
  &__btn{
    color: rgba(white, 0.75); // Without a fill color; this will take hold.
    @include margin(1.5rem, null, null, null);
    float: right;
    padding: 0.5rem;
    &:hover, &:focus, &:active{
      color: white;
    }
    @include clearfix();
  }
  
  &__icon{
    height: px-to-rem(24px);
    width: px-to-rem(24px);
  }
}