.header{
  background: transparent;
  position: absolute;
  align-items: center;
  display: flex;
  width: 100vw;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  transition: height 250ms ease, background 100ms ease;
  z-index: 200;
  @include padding(null, px-to-rem(32px), null, px-to-rem(32px));
  @include for-size("desktop-up"){
    @include padding(null, px-to-rem(94px), null, px-to-rem(94px));
  padding-left: 1rem;
  @include for-size("tablet-portrait-up"){
    padding-left: 2rem;
  }
}


.branding{
  @include for-size("tablet-portrait-up"){
    flex-grow: 1;
  }

  &__header {
    z-index: 102;
  }

  &__link{
    display: inline-block;
  }

  &__text{
    color: $white;
  }
  
  &__logo{
    transition: all 250ms ease;
    height: 4rem;
    @include for-size("tablet-portrait-up"){
      height: 2.5rem;
    }

    &--wordmark{
      width: 10rem;  
      @include for-size("tablet-portrait-up"){
        display: inline-block;
        width: 14rem
      }
    }
  }
}


.header-nav{
  display: none;
  padding: 0;
  margin: 0;
    @include for-size("tablet-landscape-up"){
      display: block;
      background-color: $moreBlue;
      height: 4rem;
      z-index: 99;
      padding-left: 2rem;
    }

  &__item{
    display: inline-block;
    height: 4rem;
    align-content: center;
    margin: 0 0.75rem;
    }

  &__link{
    font-weight: 200;
    color: $white;
    text-decoration: none;
    border-bottom: solid px-to-rem(2.4px) transparent;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    
      &::after{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: px-to-rem(3px);
        @include margin(px-to-rem(12px), null, null, null);
        transform: scale(0,1);
        transition: transform 0.4s cubic-bezier(1,0,0,1);
        background: $moreYellow;
        content: '';
        transform-origin: right top;
      }
    
      &:hover, &:focus, &:active{
        color: $white;
        &::after{
          transform: scale(1,1);
          transform-origin: left top;  
        }
      }
    }
  }
}

