:root{
  --sidebar-width: 100%;
  @include for-size("tablet-landscape-up") {
    --sidebar-width: #{px-to-rem(515px)};
  }
}

.hero{
  background-size: cover;
  background-position: center center;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  &--homepage{
    height: 95vh;
    
    &__title{
      text-shadow: none;
      @include font-size(60px, 1);
      @include for-size("tablet-landscape-up"){
        @include font-size(65px, 1);
      }
    }
    
    &__scroll{
      position: absolute;
      color: white;
      bottom: 15vh;
      @include for-size("tablet-landscape-up"){
        
      }
      
    }
  }
  
  &--academic{
    height: px-to-rem(618px / 2);
    @include for-size("tablet-landscape-up"){
      height: px-to-rem(618px);
    }
    
    &__title{
      @include font-size(60px);
      @include for-size("tablet-landscape-up"){
        @include font-size(80px);
      }
    }
  } 

  &__cta {
    text-align: center;
  }
  
  &__title{
    color: white;
    text-shadow: px-to-rem(2px) px-to-rem(2px) px-to-rem(4px) black;
    letter-spacing: px-to-rem(3px);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
}
