:root{
  --sidebar-width: 100%;
  @include for-size("tablet-landscape-up") {
    --sidebar-width: #{px-to-rem(515px)};
  }
}

.hero{
  background-size: cover;
  background-position: center center;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  &--homepage{
    height: 100vh;
    @include for-size("desktop-up"){
      height: 110vh;  
    }
    
    &__title{
      text-shadow: none;
      font-family: 'neuemontreal';
      font-style: normal;
      text-transform: none !important;
      @include font-size(55px, 1);
      @include for-size("tablet-landscape-up"){
        @include font-size(85px, 1);
      }
      @include for-size("phone-only"){
        @include font-size(40px, 1);
      }
    }

    &__title2{
      font-family: 'orpheuspro';
      font-style: italic;
      text-transform: none;
      @include font-size(65px, 1);
      @include for-size("tablet-landscape-up"){
        @include font-size(95px, 1);
      }
      @include for-size("phone-only"){
        @include font-size(45px, 1);
      }
    }
    
    &__scroll{
      position: absolute;
      display: block;
      color: white;
      bottom: 15vh;
      text-decoration:none;
      height: px-to-rem(100px); 
      padding-top: px-to-rem(70px);
      vertical-align: bottom;
      @include for-size("tablet-landscape-up"){
        
      }
      
    }
  }
  
  &--large{
    height: px-to-rem(618px / 2);
    @include for-size("tablet-landscape-up"){
      height: px-to-rem(618px);
    }
    
    &__title{
      @include font-size(60px);
      @include for-size("phone-only"){
        @include font-size(30px);
      }
      @include for-size("tablet-landscape-up"){
        @include font-size(80px);
      }
    }
  } 
  
  &--content {
    height: 12rem;
    text-align: left;
    width: 100%;
    @include margin(px-to-rem(58px), null, null, null);
    padding-left: 0rem;
    justify-content: normal;
    background-color: $darkNavy;
    align-items: end;
    padding-bottom: 2rem;
    
    &__title {
      font-family: 'orpheuspro';
      color: white;
      font-style: italic;
      text-shadow: none;
      text-transform: none;
      font-weight: 300;
      line-height: 0.6 !important;
      font-size: clamp(2.2rem, 8vw, 4rem);
      text-decoration: none;
      padding-left: 2rem;
      display: block;
      @include for-size("tablet-landscape-up"){
        padding-left: 5rem;
      }

      &__long {
         font-size: clamp(2rem, 5vw, 5rem) !important;
         line-height: 1 !important;
         @include for-size("tablet-portrait-up"){
          line-height: 0.6 !important;
         }
        }

        &__longest {
         font-size: clamp(1.8rem, 4.8vw, 3.3rem) !important;
         line-height: 1 !important;
         @include for-size("tablet-portrait-up"){
          line-height: 0.6 !important;
         }
        }

    }
  }
  
  &--video{
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 0 !important;
    @include for-size("tablet-portrait-up"){
      height: auto !important;
    }

    &__mobile {
      width: auto;
      height: 100vh;
      @include for-size("tablet-portrait-up"){
        width: 100% !important;
        height: auto !important;
        }
      }
  
    &__wrapper{
      position: absolute;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: end;
      justify-content: left;
      padding-left: 0;
      padding-bottom: 2.25rem;
    }
    
    &__btn {
      min-width: px-to-rem(300px);
      max-width: px-to-rem(450px);
      margin: 0 0 0 5.875rem !important;
      border: solid 0.0625rem $background !important;
      background: rgba(0, 0, 0, 0.55);
      border-radius: px-to-rem(25px);
      
      &:active, &:hover, &:focus{
        background: $background;
        color: $darkNavy;
      }
    }
    
    &__title {
      margin-top: 0px;
      text-shadow: 0.125rem 0.125rem 0.25rem black !important;
    }
    
    &__img {
      display: flex;
       @include for-size("tablet-portrait-up"){
       display: none;
       }
    }
  }
  
  &__cta{
    text-align: center;
    @include margin(-10vh, null, null, null);
    
    &--65{
      @include margin(0, null, null, null);
      @include padding(null, px-to-rem(16px), null, px-to-rem(16px));
      @include for-size("tablet-landscape-up"){
        max-width: 65%;  
      }
    }
  }
  
  &__title{ 
    color: white;
    text-shadow: 4px 4px 11px rgba(0,0,0,0.8);
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    max-width: px-to-rem(1200px);
    
    @include for-size("tablet-landscape-up"){
      margin-top: 0px;
    }
    
    &--alt{
      font-weight: 200;
      display: block;
      @include font-size(26px, 1.25);
      text-shadow: none;
      letter-spacing: 0.5rem;
      text-shadow: none;
    }
    &--heavy{
      display: block;
      text-shadow: none;
      @include for-size("phone-only"){
        @include font-size(35px);
      }
    }
  }
  
  &__content{
    color: white;
    font-weight: 100;
    @include margin ( px-to-rem(16px), null, px-to-rem(24px), null);
    @include font-size(22px);
  }
}

.hero-nav{
  background-color: rgba(white, 0.85);
  position: absolute; 
  bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  @include for-size("tablet-landscape-up"){
    width: 100%;
    background-color: #0033a0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
  }
  @include for-size("desktop-up"){
    padding-left: 5.875rem;
  }
  &__list{
    @include margin(0, 0, 0, 0);
    @include padding(0, px-to-rem(16px), 0, px-to-rem(16px));
  }
  &__item {
    display: block;
    border-top: px-to-rem(1px) #d8d8d8 solid;
    &:first-child{
      border-top: none;
    }
    @include for-size("tablet-landscape-up"){
      display: inline-block;
      border-top: none;
    }
  }
  &__link{
    display: block;
    @include padding(px-to-rem(16px), px-to-rem(16px), px-to-rem(16px), px-to-rem(0px));
    color: black;
    text-decoration: none;
    @include for-size("tablet-landscape-up"){
      text-transform: uppercase;
      padding: 0;
    }
    
    &:hover, &:focus, &:active{
      text-decoration: underline;
      color: $medBlue;
    }
    
  }

  ul {
    @include for-size("tablet-landscape-up"){
      margin: 0;
      padding: 0;
    }
    li {
      @include for-size("tablet-landscape-up"){
        display: inline-block;
        color: #fff;
        padding-left: .75rem;
        padding-right: .75rem;
        font-size: 15px;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &:first-of-type {
        @include for-size("tablet-landscape-up"){
          padding-left: 0;
        }
      }
    }
  }
  a {
    @include for-size("tablet-landscape-up"){
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none !important;
      position: relative;
    }
    &:before {
      @include for-size("tablet-landscape-up"){
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #fcd612;
        border-color: #fcd612;
        bottom: -4px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    }
    &:hover {
      &::before {
        @include for-size("tablet-landscape-up"){
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}

