

.features{
  @include for-size("desktop-up"){
    box-shadow: 0 px-to-rem(20px) px-to-rem(20px) 0 rgba(153, 153, 153, 0.25);
    @include padding(px-to-rem(20px), px-to-rem(20px), px-to-rem(20px), px-to-rem(20px));
    @include margin(- px-to-rem(70px), null, null, null);
    background: white;
    display: grid;
    grid-column-gap: px-to-rem(20px);
    grid-row-gap: px-to-rem(20px);   
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
  }
}
.feature{
  height: px-to-rem(289px);
  border-radius: px-to-rem(16px);
  background-position: center center;
  color: white;
  display: flex;
  text-align: left;
  @include margin(px-to-rem(20px), null, px-to-rem(20px), null);
  @include for-size("tablet-portrait-up"){
    height: px-to-rem(312px);
  }
  @include for-size("desktop-up"){
    height: px-to-rem(289px);
    @include margin(0, null, 0, null);
  }

  @include for-size("phone-only"){
    border-radius:0;
  }
  &:not(:first-of-type){
    @include margin(px-to-rem(30px), null, 0, null);
    @include for-size("desktop-up"){
      @include margin(0, null, 0, null);
    }
  }

  
  &__content{
    align-self: flex-end;
    @include padding(px-to-rem(16px), px-to-rem(16px), px-to-rem(16px), px-to-rem(16px));
    background-size: cover;
    background-position: center center;
    &--insta{
      position: relative;
      @include padding(0, 0, 0, 0);
      width: 100%;
      height: 100%;
    }
  } 
  
  &__title{
    text-transform: uppercase;
    font-weight:500;
    @include font-size(30px, 1.25);
    
    &--large{
      @include for-size("desktop-up"){
        @include font-size(48px);  
      }
    }
  }
  &__name{
    border-radius: px-to-rem(16px) px-to-rem(16px) 0 0;
    @include padding(px-to-rem(8px), px-to-rem(16px), px-to-rem(8px), px-to-rem(16px));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0) 100%);
    @include for-size("phone-only"){
      border-radius:0;
    }
  }

  &__success{
    background-image:url('images/modules/placement-rate-bkg.svg');
    background-position:center center;
    background-size: cover; 
    background-color: #0c2340;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;

  }
  
  &__link{
    text-decoration: none;
    color: white;
    border-radius: px-to-rem(16px) px-to-rem(16px) 0 0;
  }

  &__caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba($grey, 0.80);
    color: black;
    border-radius: 0 0 px-to-rem(16px) px-to-rem(16px);
    @include padding(px-to-rem(16px), px-to-rem(16px), px-to-rem(16px), px-to-rem(16px));
    @include for-size("phone-only"){
      border-radius:0;
    }
  }

  
  
  &:nth-of-type(1){
    grid-area: 1 / 1 / 2 / 3;
  }
  &:nth-of-type(2){
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-of-type(3){
    grid-area: 2 / 2 / 3 / 3;
  }
  &:nth-of-type(4){
    grid-area: 1 / 3 / 2 / 4;
  }
  &:nth-of-type(5){
    grid-area: 1 / 4 / 2 / 5;
  }
  &:nth-of-type(6){
    grid-area: 2 / 3 / 3 / 5;
  }
  
}

.date {
  position:absolute;
  @include for-size("desktop-up"){
    bottom:36.5rem !important;
  }
  @include for-size("tablet-landscape-up"){
    bottom: 38rem;
  }
  @include for-size("tablet-portrait-up"){
    bottom: 38rem;
  }
  @include for-size("phone-only"){
    bottom: 35rem;
  }

  &__second{
    position:absolute;
    @include for-size("desktop-up"){
      top:21.5rem !important;
    }
    @include for-size("tablet-landscape-up"){
      bottom: 102rem;
    }
    @include for-size("tablet-portrait-up"){
      bottom: 102rem;
    }
    @include for-size("phone-only"){
      bottom: 95rem;
    }
    
  }
}

.feature:hover { 
  background-color:rgba(12,35,64,1)!important;
  opacity: 0.7;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.featured-link {
  &__title {
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    @include font-size(48px);
    @include margin(0, 0, 0, 0);
  }
  &__list{
    list-style: none;
    flex-wrap: wrap;
    @include margin(null, null, null, 0);
    @include padding(null, null, px-to-rem(60px), 0);
  }
  &__item{
    flex-basis: calc(33% - 2rem);
  }
}



.commitment {
  background-color: rgba(#fff, 0.85);
  text-align:center;
  
  &__title{
    color: $darkNavy;
    text-transform: uppercase;
    @include padding(px-to-rem(40px), null, px-to-rem(24px), null);
    @include font-size(24px);
    @include for-size("phone-only"){
      @include padding(px-to-rem(40px), null, px-to-rem(32px), null);
    }
  }
  &__hr{
    background-color: $medBlue;
    height: px-to-rem(2px);
    border: none;
    @include margin(null, auto, null, auto);
    @include for-size("tablet-landscape-up"){
      width: 35%;
    }
    
  }
  
  &__text {
    @include padding(0, px-to-rem(16px), px-to-rem(32px), px-to-rem(16px));  
    @include font-size(28px);
    @include for-size("phone-only"){
      line-height: px-to-rem(45px);
    }
  }
}

.success-rate{
  width:300px;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 4vh;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
}

