 .iclTypeZ {
	 color: #0B223F;

	 &__title {
	 	text-align: center;
	 }

	 &__desc {
	 	text-align: center;
 		margin-bottom: 2rem;
	 }

	 &__cr {
	 	display: grid;
		 grid-template-columns: repeat(1, 1fr);
		 grid-template-rows: 1fr;
		 grid-column-gap: 0px;
		 grid-row-gap: 0px;
		 @include for-size("tablet-landscape-up") {
		 	display: grid;
			 grid-template-columns: repeat(2, 1fr);
			 grid-template-rows: 1fr;
			 grid-column-gap: 0px;
			 grid-row-gap: 0px;
		 }

		 &--content {
		 	padding: 2rem;
	 		margin: auto 0;

	 		@include for-size("desktop-up") {
	 			padding: 4rem;
			}

	 		h3 {
	 			margin-top: 0;
	 		}
		 }

	 }
}

.iclTypeZ__cr:nth-child(odd) .iclTypeZ__cr--image{
	@include for-size("tablet-landscape-up") {
		grid-area: 1 / 1 / 2 / 2;
	}
}
.iclTypeZ__cr:nth-child(odd) .iclTypeZ__cr--content{
	@include for-size("tablet-landscape-up") {
		 grid-area: 1 / 2 / 2 / 3;
		 padding-right: 4rem;
	}
	@include for-size("desktop-up") {
		padding-right: 8rem;
	}
}
.iclTypeZ__cr:nth-child(even) .iclTypeZ__cr--image{
	@include for-size("tablet-landscape-up") {
		grid-area: 1 / 2 / 2 / 3;
	}
}
.iclTypeZ__cr:nth-child(even) .iclTypeZ__cr--content{
	@include for-size("tablet-landscape-up") {
		grid-area: 1 / 1 / 2 / 2;
		padding-right: 4rem;
	}

	@include for-size("desktop-up") {
		padding-left: 8rem;
	}
}



