.mo {
  $self: &;
  display: flex;
  align-items: flex-start;
  background: white;
  @include padding(px-to-rem(16px), px-to-rem(16px), px-to-rem(16px), px-to-rem(16px));
  @include margin(0, 0, px-to-rem(16px), 0);
  
  &:not(:last-child){
    border-bottom: solid px-to-rem(2px) #e3e3e3;
  }
  > img, .mo > a {
    width: px-to-rem(150px);
    @include margin(0, px-to-rem(16px), 0, 0);  
  }
  
  > div:last-of-type, &__content{
    flex: 1;
    &--full{
      flex-grow: 1;   
    }
  }
  
  
  h3{
    @include margin(0, null, 0, null);
  }
  
  &--road{
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, px-to-rem(32px), 0);
    box-shadow: 0 0 px-to-rem(12px) 0 rgba(black, 0.4);
    border-bottom: none !important;
    position: relative;
    
    #{$self}__img{
      display: none;
      align-self: center;
      @include for-size("tablet-portrait-up"){
        object-fit: contain;
        display: block;
        width: px-to-rem(230px);  
      }
    }
    
    #{$self}__content{
      @include padding(px-to-rem(20px), px-to-rem(20px), px-to-rem(20px), px-to-rem(20px));
    }
    
    h3{
      @include font-size(18px);
//       @include margin(null, null, px-to-rem(12px), null);
    }
  }
}

.content_cta{
  display: flex;
  align-items: flex-start;
  background-image: url('../images/content_cta/bkg_graphic.jpg');
  background-size: cover;
  width: 100%;
  justify-content: space-around;
  color: white;
  flex-direction: column;
  
  @include for-size("tablet-portrait-up"){
    flex-direction: row;
  }
  &__title{
    color: white;
  }
  img{
    max-width: px-to-rem(284px);
    object-fit: cover;
    @include margin(px-to-rem(24px),px-to-rem(24px),px-to-rem(24px),px-to-rem(24px));
    align-self: center;
    @include for-size('tablet-portrait-up'){
      @include margin(null,px-to-rem(40px),null,px-to-rem(40px));
      flex-basis: fit-content;
    }
    @include for-size('tablet-landscape-up'){
    }
    
    
  }
  &__content{
    @include margin( null ,px-to-rem(24px),px-to-rem(24px),px-to-rem(24px));
    flex-grow: 1;
    @include for-size('tablet-portrait-up'){
      @include margin(px-to-rem(24px),px-to-rem(40px),null,px-to-rem(40px));
    }
  }
}