.modules{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
    @include for-size("tablet-landscape-up"){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    }
    @include for-size("desktop-up") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    }
}

.module{
  width: 100%;
  height: px-to-rem(286px);
  background-color: $darkNavy;
  display: table;
  background-size: cover;
  background-position: left top;
  
  &__content{
    display: table-cell;
    @include padding(null, px-to-rem(20px), px-to-rem(24px), px-to-rem(20px));
  }  
  &__title{
    color: white;
    text-transform: uppercase;
    @include font-size(24px, 1);
    @include margin(null, null, px-to-rem(12px), null);
    font-weight: 400;
  }

  &__link{
	  color: white;
    display: table-cell;
    vertical-align: bottom;
    text-decoration: none;
    
    &:hover{
      .module__icon {
        margin-left: 0.5rem;
      }
    }
  }
  &__icon{
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    transition: margin 175ms ease;
  }
}

