.morexCardRow {
	
	&__wrapper {
		padding: 2rem 1rem;

		@include for-size("tablet-landscape-up"){
			padding: 6rem 2rem;
			grid-column-gap: 2rem;
		}
	}

	&__titlecard {

		&--title {

		    h2 {
		    	font-size: 3.5rem;
				line-height: 3.5rem;

		    	@include for-size("tablet-landscape-up"){	
				    font-size: 3rem;
				    line-height: 3rem;
				}
		    }
		}

		&--content {
			margin-top: 1rem;
			margin-bottom: 1rem;

			@include for-size("tablet-landscape-up"){
				margin-top: 1.5rem;
			}
		}
	}

}