.nav-list{
  $self: &;
  font-weight: 200;
  padding: 0;
  margin: 0;
  &--border-top{
    border-top: solid px-to-rem(1px) $medBlue;
    @include margin(5rem, null, null, null)
  }
  
  &__item{
    &--border-bottom{
      border-bottom: solid px-to-rem(1px) $medBlue;  
      @include padding(1rem, null, 1rem, null);
    }
  }
  
  &--child{
    @include margin( 0.75rem, 1rem, 0.5rem, 1rem);
    font-style: italic;
    display: none;
    &__item{
      @include padding(0.725rem, null, 0.725rem, null);
    }
    &.visible{
      display: block;
    }
  }
  
  &__link{
    color: white;
    text-decoration: none;
    transition: margin 75ms ease;
    &--upper{
      text-transform: uppercase;
    }
    
    &:hover, &:focus, &:active{
      margin-left: 0.75rem;
    }
  }
  &__btn{
    float: right;
    background: #13355A;
    border-radius: 0.5rem;
    @include margin(-0.25rem, null, null, null);
    &.on{
      .nav-list__icon--plus{
        display: none;
      }
      .nav-list__icon--minus{
        display: block;
      }
    }
    &:hover, &:focus, &:active {
      background: #1B4675;
    }
  }
  &__icon{
    height: px-to-rem(33px);
    width: px-to-rem(33px);
    color: white;
    
    &--plus{
      display: block;
    }
    &--minus{
      display: none;
    }
  }
  &--cta{
    @include margin(2rem, null, null, null);
    &__link{
      width: 100%;
      display: block;
      border: solid px-to-rem(1px) $medBlue;
      background: lighten($darkNavy, 6%);
      border-radius: 0.5rem;
      text-align: center;
      transition: all 0.25s ease;
      @include padding(0.65rem, 0.5rem, 0.65rem, 0.5rem);
      @include margin (1rem, null, 1rem, null);
      
      &:hover, &:focus, &:active{
        background: #1B4675;
        border-color: #1B4675;
        margin-left: 0;
      }
    }
  }
  &--secondary{
    font-size: px-to-rem(14px);
    @include margin(2rem, null, 8rem, null);
    &__item{
      @include margin(0.5rem, null, 0.5rem, null);
    }
    &__link{
      text-decoration: underline;
    }
  }
  &--margin-both{
    @include margin(null, 1rem, null, 1rem);
  }
}

.nav-header{
  display: none;
  @include for-size("tablet-landscape-up"){
    display: block;
  }
  text-transform: uppercase;
  &__item{
    display: inline-block;
    @include margin( null, 1rem, null, 1rem);
  }
  &__link{
    font-weight: 200;
    color: white;
    text-decoration: none;
    border-bottom: solid 0.15rem transparent;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    
    &::after{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: px-to-rem(3px);
      @include margin(0.75rem, null, null, null);
      transform: scale(0,1);
      transition: transform 0.4s cubic-bezier(1,0,0,1);
      background: white;
      content: '';
      transform-origin: right top;
    }
    
    &:hover, &:focus, &:active{
      &::after{
        transform: scale(1,1);
        transform-origin: left top;  
      }
    }
  }
}