.nav-list{
  $self: &;
  font-weight: 200;
  padding: 0;
  margin: 0;
  &--border-top{
    border-top: solid px-to-rem(1px) $yellow;
  }
  
  &__item{
    &--border-bottom{
      border-bottom: solid px-to-rem(1px) $yellow; 
      @include padding(px-to-rem(16px), null, px-to-rem(16px), null);
    }
  }
  
  &--child{
    @include margin( px-to-rem(12px), px-to-rem(16px), px-to-rem(8px), px-to-rem(16px));
    font-style: italic;
    display: none;
    &__item{
      @include padding(px-to-rem(12px), null, px-to-rem(12px), null);
    }
    &.visible{
      display: block;
    }
  }
  
  &__link{
    color: white;
    text-decoration: none;
    transition: padding 175ms ease;
    &--upper{
      text-transform: uppercase;
    }
    
    &:hover, &:active{
      padding-left: px-to-rem(12px);
    }
    &:focus{
      color: white;
    }
  }
  &__btn{
    float: right;
    background: #13355A;
    border-radius: px-to-rem(8px);
    @include margin(- px-to-rem(4px), null, null, null);
    &.on{
      .nav-list__icon--plus{
        display: none;
      }
      .nav-list__icon--minus{
        display: block;
      }
    }
    &:hover, &:focus, &:active {
      background: #1B4675;
    }
  }
  &__icon{
    height: px-to-rem(33px);
    width: px-to-rem(33px);
    color: white;
    
    &--plus{
      display: block;
    }
    &--minus{
      display: none;
    }
  }
  &--cta{
    @include margin(px-to-rem(32px), null, null, null);
    text-transform: uppercase;
  }
  &--secondary{
    font-size: px-to-rem(14px);
    @include margin(px-to-rem(32px), null, px-to-rem(128px), null);
    &__item{
      @include margin(px-to-rem(8px), null, px-to-rem(8px), null);
    }
    &__link{
      text-decoration: underline;
    }
  }
}

.nav-header{
  display: none;
  @include for-size("tablet-landscape-up"){
    display: block;
  }
  text-transform: uppercase;
  &__item{
    display: inline-block;
    @include margin( null, px-to-rem(16px), null, px-to-rem(16px));
  }
  &__link{
    font-weight: 200;
    color: white;
    text-decoration: none;
    border-bottom: solid px-to-rem(2.4px) transparent;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    
    &::after{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: px-to-rem(3px);
      @include margin(px-to-rem(12px), null, null, null);
      transform: scale(0,1);
      transition: transform 0.4s cubic-bezier(1,0,0,1);
      background: white;
      content: '';
      transform-origin: right top;
    }
    
    &:hover, &:focus, &:active{
      color: white;
      &::after{
        transform: scale(1,1);
        transform-origin: left top;  
      }
    }
  }
}