.nav-list{
  $self: &;
  font-weight: 200;
  padding: 0;
  margin: 0;
  
  &__item{
    padding: 0.5rem 0;

    &--wrapper {
      height: auto;
      margin-bottom: 1rem;
        @include for-size(tablet-landscape-up){
          height: 60px;
          margin-bottom: 0;
        }
    }
  }
  
  &--child{
    @include margin( px-to-rem(12px), px-to-rem(16px), px-to-rem(8px), px-to-rem(16px));
    font-style: italic;
    display: none;
    &__item{
      @include padding(px-to-rem(12px), null, px-to-rem(12px), null);
    }
    &.visible{
      display: block;
    }
  }
  
  &__link{
    color: white;
    text-decoration: none;
    transition: padding 175ms ease;
    &--upper{
      text-transform: uppercase;
    }
    
    &:hover, &:active{
      padding-left: px-to-rem(12px);
    }
    &:focus{
      color: white;
    }
  }
  &__btn{
    float: right;
    background: #13355A;
    border-radius: px-to-rem(8px);
    @include margin(- px-to-rem(4px), null, null, null);
    &.on{
      .nav-list__icon--plus{
        display: none;
      }
      .nav-list__icon--minus{
        display: block;
      }
    }
    &:hover, &:focus, &:active {
      background: #1B4675;
    }
  }
  &__icon{
    height: px-to-rem(33px);
    width: px-to-rem(33px);
    color: white;
    
    &--plus{
      display: block;
    }
    &--minus{
      display: none;
    }
  }
  &--cta{
    @include margin(px-to-rem(32px), null, null, null);
    text-transform: uppercase;
  }
  &--secondary{
    font-size: px-to-rem(14px);
    @include margin(px-to-rem(32px), null, px-to-rem(128px), null);
    &__item{
      @include margin(px-to-rem(8px), null, px-to-rem(8px), null);
    }
    &__link{
      text-decoration: underline;
    }
  }
}

