.newsblog {

	&--article{
		
		&__grid{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			@include for-size("tablet-landscape-up"){
				display: grid;
				grid-template-columns: 2fr 1fr;
				grid-template-rows: 1fr;
				grid-column-gap: 16px;
				grid-row-gap: 0px;
				}
		}
	
		&__image{
			display: none;
			@include for-size("tablet-landscape-up"){
				display: block;
			}
		}
		
		&__title{
			line-height: 1.25;
			margin-bottom: 1.5rem;
		}
		
		&__date{
			font-weight: 400;
			padding-right: px-to-rem(8px);
		}
		
		&__author{
			font-style: italic;
			padding-left: px-to-rem(8px);
		}
	}
	
	&--listing{
		
		h1{
		margin-top: 0;
		
		}
		
		&__monthList{
			background-color: #eee;
			@include padding(px-to-rem(5px),px-to-rem(15px),px-to-rem(5px),px-to-rem(15px));
			@include margin(px-to-rem(20px),null,px-to-rem(10px),null);
			@include font-size(20px);
			font-weight: 400;
			text-transform: uppercase;
		}
		
		&__articleList{
			border: 1px solid #ededed;
			display: flex;
			max-height: px-to-rem(250px);
			margin-bottom: px-to-rem(32px);
			
			&--artImg{
				display: none;
				 @include for-size("tablet-landscape-up"){
					display: block;
					flex: 2;
					
					img{
						max-width:330px;
						max-height:245px;
					}
				 }
			}
			
			&--artLink {
				flex: 3;
				@include padding(px-to-rem(16px),null,null,px-to-rem(24px));
				
				&__date{
					font-weight: 400;
				}
				
				&__title {
					@include font-size(24px);
					font-weight: 400;
					color: #007DB3;
				}
				
				&__summary{
					margin-top: px-to-rem(8px);
				}
			}
		}
	}
}

.related {
	
	h2 {
		font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
	}

	&--grid {
		display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		@include for-size("tablet-portrait-up"){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 16px;
			grid-row-gap: 16px;
		}
		@include for-size("tablet-landscape-up"){
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 16px;
			grid-row-gap: 0px;
		}	
	}
	
	&--image {
		margin-bottom: px-to-rem(12px);
		width: 100%;
	}
	
	
}