.stats {
    min-height: 100vh;
    @include padding(px-to-rem(96px), null, px-to-rem(64px), null);
    
    &__header{
        text-align:center;
        @include padding(null, px-to-rem(0px), px-to-rem(36px), px-to-rem(0px));
        @include for-size ("tablet-landscape-up") {
          @include padding(px-to-rem(80px), px-to-rem(48px), px-to-rem(48px), px-to-rem(48px));
        }
  }
}

.outcomes-grid {
 position:relative;
    display: grid;
    grid-template-columns: 1fr 2fr 7px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .year, .success-rate { grid-area: 1 / 2 / 2 / 3; }
    .programs, .majors { grid-area: 1 / 1 / 2 / 2; }  
  
}

hr {
  color:#dfe0e0;
  height:0.2rem;
  margin:2rem auto;
}

.outcomes_wrapper {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap:1rem;
  grid-row-gap:0px;
}

.outcomes_info {
  background: #f0f2f3;
  @include padding(px-to-rem(32px), px-to-rem(32px), px-to-rem(32px), px-to-rem(32px));
  @include margin(px-to-rem(24px), null, null, null);
  &--percent {
    /* background:#fff; */
  }
}

.outcomes-stats {
  @include margin(px-to-rem(80px), null, null, null);
  @include padding(px-to-rem(56px), null, null, null);
  background:url("../images/outcomes/StatsBKG_1x.png");
  background-image:image-set(url('../images/outcomes/StatsBKG_1px.png') 1x, url('../images/outcomes/StatsBKG_2px.png') 2x);
  background-image: -webkit-image-set(url('../images/outcomes/StatsBKG_1px.png') 1x, url('../images/outcomes/StatsBKG_2px.png') 2x);
  background-size: cover; 
  background-position: center center;

  h1, p{
    color:#fff;
    text-align:center;
  }
}

.percentages {
  text-align:center;
}

.percent {
  @include padding(px-to-rem(0px), px-to-rem(32px), px-to-rem(96px), null);
  @include margin(px-to-rem(-64px), null, null, null);
&__wrapper {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(3, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: px-to-rem(16px);
  @include for-size("desktop-up"){
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: px-to-rem(16px);
    grid-row-gap: 0px;
    }
  }
 &__content {
   text-transform:uppercase;
   font-weight:bold;
   h1 {
    font-size: 8rem;
    letter-spacing:-0.5rem; 
    margin-top:3rem;
     @include for-size("tablet-landscape-up"){
      margin-top:7rem;
    }
    @include for-size("tablet-portrait-up"){
      margin-top:7rem;
    }
    @include for-size("phone-only"){
      margin-top:7rem;
    }

   }
   h5 {
     color:#fff;
     font-size:1.4rem;
     @include for-size("desktop-up"){
     margin-top: -2.1rem !important;
     }
     @include for-size("tablet-landscape-up"){
       margin-top:3rem;
     }
     @include for-size("tablet-portrait-up"){
      margin-top:3rem;
    }
    @include for-size("phone-only"){
      margin-top:3rem;
    }
   }
 } 
}