.panel{
  background: $grey;
  @include padding(px-to-rem(50px), px-to-rem(30px), px-to-rem(50px), px-to-rem(30px));
  @include margin(px-to-rem(24px), null, null, null);
  
  @include for-size("tablet-landscape-up"){ 
    @include padding(px-to-rem(50px), px-to-rem(60px), px-to-rem(50px), px-to-rem(60px));  

    
  }

  &--white {
    background: #fff;
    margin-right:1rem;
    width:100%;
   
  }
  
  &__title{
    @include font-size(20px);
    @include margin(0, null, px-to-rem(40px), null);
    color: $darkNavy;
    text-transform: uppercase;
    font-weight: 400;
    &--center{
      text-align: center;
    }
    &--form{
      @include margin(null, null, px-to-rem(27px), null);  
    }
  }
  
  &--academic{
    @include margin(px-to-rem(48px), null, null, null);
  }
  
  &--quicklinks {
    display: none;
    @include for-size("tablet-landscape-up"){
      display: block;
    }
    &__mobile {
      display: block;
      @include for-size("tablet-landscape-up"){
      display: none;
    }
    }
  }
  
  &--features{
    @include padding(px-to-rem(42px), 0, px-to-rem(8px), 0);
    @include for-size('tablet-landscape-up'){
      width: calc( (100% / 3) -  32px);
      @include margin(null, px-to-rem(32px), null, null);
      &:last-of-type{
        @include margin(null, 0, null, null);
      } 
    }
    &:not:first-of-type{
      @include margin(px-to-rem(24px), null, null, null);  
    }
    &__title{
      @include font-size(16px);
      border-left: solid px-to-rem(8px) $medBlue;
      
      @include padding( px-to-rem(16px), null, px-to-rem(16px), px-to-rem(24px));
    }
  }
  
  &__img {
    @include padding(null, px-to-rem(24px), null, px-to-rem(24px));
    display: block;
    width: 100%;
  }
  &__content {
    @include margin(null, px-to-rem(42px), null, px-to-rem(42px));
  }
  
  &__hr{
    @include margin(null, px-to-rem(24px), px-to-rem(24px), px-to-rem(24px));
    background: $darkGrey;
    height: px-to-rem(2px);
    border: none;
  }
  &__link{
    display: block;
    color: black;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: $medBlue;
    }
  }
  
  &__icon{
    transform: rotate(-90deg);
  }
}