.panel{
  background: $grey;
  @include padding(px-to-rem(50px), px-to-rem(30px), px-to-rem(50px), px-to-rem(30px));
  @include margin(px-to-rem(24px), null, null, null);
  
  @include for-size("tablet-landscape-up"){ 
    @include padding(px-to-rem(50px), px-to-rem(60px), px-to-rem(50px), px-to-rem(60px));  
    
  }
  
  &__title{
    @include font-size(20px);
    @include margin(0, null, px-to-rem(40px), null);
    color: $darkNavy;
    text-transform: uppercase;
    font-weight: 400;
    &--center{
      text-align: center;
    }
    &--form{
      @include margin(null, null, px-to-rem(27px), null);  
    }
  }
  
  &--quicklinks {
    display: none;
    @include for-size("tablet-landscape-up"){
      display: block;
    }
    &__mobile {
      display: block;
      @include for-size("tablet-landscape-up"){
      display: none;
    }
    }
  }
  
  &--features{
    @include padding(px-to-rem(42px), 0, px-to-rem(8px), 0);
    @include for-size('tablet-landscape-up'){
      width: calc( (100% / 3) -  32px);
      @include margin(null, px-to-rem(32px), null, null);
      &:last-of-type{
        @include margin(null, 0, null, null);
      } 
    }
    &:not:first-of-type{
      @include margin(px-to-rem(24px), null, null, null);  
    }
    &__title{
      @include font-size(16px);
      border-left: solid px-to-rem(8px) $medBlue;
      
      @include padding( px-to-rem(16px), null, px-to-rem(16px), px-to-rem(24px));
    }
  }
  
  &--programs {
    background: $grey;
    margin-top: px-to-rem(48px);
    @include padding(px-to-rem(16px),px-to-rem(20px),px-to-rem(16px),px-to-rem(20px))
    
    &__title {
      margin: 0;
      color: $darkNavy;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  
  &__img {
    @include padding(null, px-to-rem(24px), null, px-to-rem(24px));
    display: block;
    width: 100%;
  }
  &__content {
    @include margin(px-to-rem(24px), px-to-rem(42px), null, px-to-rem(42px));
  }
  
  &__hr{
    @include margin(null, px-to-rem(24px), px-to-rem(24px), px-to-rem(24px));
    background: $darkGrey;
    height: px-to-rem(2px);
    border: none;
  }
  &__link{
    display: block;
    color: black;
    text-decoration: none;
    &:hover, &:focus, &:active{
      color: $medBlue;
    }
  }
  
  &__icon{
    transform: rotate(-90deg);
  }
}

.filter-list{
  padding-left: 0px;
  @include for-size("tablet-landscape-up"){ 
  padding-left: px-to-rem(20px);
  }
  
  &__mobile {
    background-color: #0B223F;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 200 !important;
    line-height: 1;
    margin-top: 16px;
    padding-bottom: 16px !important;
    
    svg.sidenav__icon--plus {
    color: #fff;
    border: solid 0.078125rem #fff;
    background-color: #13355a;
    }
    
    svg.sidenav__icon--minus {
    color: #fff;
    border: solid 0.078125rem #fff;
    background-color: #13355a;
    }
    
  }
}

.aplOption {
  border-top: 1px solid $grey;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  padding: 10px;
  display: block;
  line-height: 1.625rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  padding-left: px-to-rem(25px);
  color: $medBlue;
  @include for-size("tablet-landscape-up"){  
    @include padding(px-to-rem(0px), px-to-rem(0px), px-to-rem(0px), px-to-rem(25px));
    border: none;
  }
  
  &__mobile {
    padding: 16px;
  }
  
  &:last-child{
    @include for-size("phone-only"){
    border-bottom: 1px solid $grey;
    }
  }
	
	&:hover {
		color: $darkNavy;
		
		input ~ .newRadio {
			border: 2px solid $medBlue;
		  }
	  }
	
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
    
    &:checked ~ .aplOption__text {
    color: $darkNavy;
    }
		
		&:checked ~ .newRadio {
		background-color: $background;
		border: 2px solid $medBlue;
		
      &:after {
        display: block;
        }
		}
	}
	
	.newRadio {
  position: absolute;
  top: px-to-rem(4px);
  left: 0;
  height: px-to-rem(16px);
  width: px-to-rem(16px);
  background-color: $background;
  border-radius: 50%;
  border: 2px solid $darkGrey;
  display: none;
  @include for-size("tablet-landscape-up"){
    display: block;
  }
  
  &:after {
		top: px-to-rem(3px);
		left: px-to-rem(3px);
		width: px-to-rem(6px);
		height: px-to-rem(6px);
		border-radius: 50%;
		background: $medBlue;
    content: "";
    position: absolute;
    display: none;
    }
  }
}



