.quick-links{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 2rem;
	
	.fa {
  	display: block;
  	text-align: center;
  	@include margin(0, auto, 0, auto);
  	@include font-size(30px);
  	@include for-size("tablet-landscape-up"){
      @include font-size(40px);	
  	}
	}
	
  &__link{
    display: block;
  	text-decoration: none;
    color: $medBlue;
    transition: color 250ms ease;
  }
  &__item{
    display: none;
    @include font-size(13px, 1.25);
    @include margin (null, px-to-rem(4px), px-to-rem(16px), px-to-rem(4px));
  	text-align: center;
  	flex-basis: calc( (100% / 4) - #{px-to-rem(8px)});
  	flex-grow: 0;
  	@include for-size("tablet-portrait-up"){
      @include font-size(14px);
      text-transform: uppercase;
      flex-basis: calc( (100% / 8) - #{px-to-rem(8px)});
  	}
  	
  	@include for-size("tablet-landscape-up"){
  	}
  	
  	&:hover, &:focus{
    	color: $medBlueHover;
      span{
        background: $grey;
      }
    }
  }	
	&__active{
  	display: block;
	}
  &__icon{
    border: px-to-rem(1px) solid darken($grey, 15%); 
    color: $darkNavy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include padding ( px-to-rem(32px), null, px-to-rem(32px), null );
  	@include for-size("tablet-landscape-up"){
    	@include padding ( px-to-rem(32px), null, px-to-rem(32px), null );
  	}
  }
  &__btn{
    @include margin( px-to-rem(8px), auto, px-to-rem(24px), null);
    text-transform: none;
    @include padding( px-to-rem(16px), px-to-rem(50px),px-to-rem(16px), px-to-rem(50px));
  }
}


.sidebar li.nav-list__item {
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar li.nav-list__item:last-of-type{
  border-bottom: 1px solid lightgray;
}

h2.sidebar--title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}