.recommended {
  
  &--grid{
    @include margin(px-to-rem(32px),null,null,null)
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 96px;
    grid-row-gap: 32px;
      @include for-size("tablet-landscape-up"){
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 96px;
      grid-row-gap: 0px;
    }
  }
  
  &--container{
    max-width: px-to-rem(244px);
    
    &__image{
      max-height: px-to-rem(222px);
      @include margin(null,null,px-to-rem(16px),null)
    }
    
    &__text{
      text-transform: uppercase;
      color: $darkNavy;
      font-weight: 400;
    }
    
    &__link{
      
    }
  }
}