.recommended {
  
  &__container{
    @include margin(px-to-rem(32px),null,null,null);
    @include for-size("tablet-landscape-up"){
      width: 25%;
      @include margin(null, px-to-rem(24px), null, px-to-rem(24px));
      &:first-child{
        @include margin(null, px-to-rem(24px), null, 0);
      }
      &:last-child{
        @include margin(null, 0, null, px-to-rem(24px));
      }
    }
    
  }
  &__image{
     @include margin(null,null,px-to-rem(16px),null);
  }
    
  &__text{
    text-transform: uppercase;
    color: $darkNavy;
    font-weight: 400;
  }
    
  &__link{}
}