.tour{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
//   justify-content: space-between;

  @include padding(px-to-rem(35px), px-to-rem(20px), null, px-to-rem(20px));
  @include margin(null, null, px-to-rem(32px), null);
  @include for-size("tablet-portrait-up"){
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
  }
  
  @include for-size("tablet-portrait-up"){
    flex-direction: row;
  }
  
  &__content{
    color: white;
    @include padding(null, px-to-rem(8px), px-to-rem(28px), null);
    p{
      @include font-size(16px, 1.25);
    }
  }
  
  &__title{
    color: white;
    @include font-size(32px, 1.25);  
  }
  
  &__img{
    display: block;
    width: 200%;
    align-self: flex-end;
    @include for-size("phone-only"){
      align-self: center;
    }
  }
  
  &__btn{
    background: $medBlueHover;
    color: white;
    display: inline-block;
    border-radius: px-to-rem(8px);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: max-content;
    @include padding(px-to-rem(10.4px), px-to-rem(48px), px-to-rem(10.4px), px-to-rem(48px));
    @include for-size("tablet-portrait-up"){
    }
    
    &:hover, &:focus {
      background: $darkNavy;
    }
  }
}