.tour{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  @include padding(px-to-rem(35px), px-to-rem(20px), null, px-to-rem(20px));
  
  @include for-size("tablet-portrait-up"){
    @include padding(null, px-to-rem(48px), null, px-to-rem(48px));
  }
  
  @include for-size("desktop-up"){
    flex-direction: row;
  }
  
  &__content{
    color: white;
    @include padding(null, null, px-to-rem(28px), null);
    p{
      @include font-size(18px);
    }
  }
  
  &__title{
    color: white;
    @include for-size("tablet-portrait-up"){
      @include font-size(48px);  
    }
  }
  
  &__img{
    align-self: center;
    display: block;
    width: 65%;
    
    @include for-size("tablet-landscape-up"){
      display: none;
    }
    
    @include for-size("big-desktop-up"){
      display: block;
      align-self: flex-end;
    }
  }
  
  &__btn{
    background: $medBlueHover;
    color: white;
    display: inline-block;
    border-radius: px-to-rem(8px);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: max-content;
    @include padding(px-to-rem(18px), px-to-rem(32px), px-to-rem(18px), px-to-rem(32px));
    @include for-size("tablet-portrait-up"){
    }
    
    &:hover, &:focus {
      background: $darkNavy;
    }
  }
}