.r-profiles{
  position: relative;
  background: $darkNavy;
  background-image: url('/images/profiles/background.svg');
  background-size: cover;
  background-position: center bottom;
  @include padding(px-to-rem(24px), px-to-rem(24px), px-to-rem(24px), px-to-rem(24px));
  @include margin(px-to-rem(48px), null, px-to-rem(48px), null);
  color: white;
  display: flex;
  flex: 0 1;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title{
    color: white;
    flex-basis: 100%;
  }
  &__profile{
    flex-basis: calc((100%/3) - 1rem);
    &:not(:last-child){
      @include margin(null, px-to-rem(16px), null, null) 
    }
  }
  
  &__link{
    color: $lightBlue;
    font-weight: 300;
    &:hover, &:focus{
      color: lighten($lightBlueHover, 15%);
    }
  }
}