.select-box{
    @include margin( px-to-rem(24px), null, null, null);
    &__container{
      background:#F0F2F3;
      @include margin( px-to-rem(16px), null, null, null);
      position:relative;
    
      &--content {
      @include padding(px-to-rem(24px),px-to-rem(42px),px-to-rem(24px),px-to-rem(42px));
      }
    }
    
    &__cta-card{
    background-color: #fff;
    @include margin(px-to-rem(0px), null, null, null)
        
        &--container{
        @include padding(px-to-rem(24px),px-to-rem(24px),px-to-rem(24px),px-to-rem(24px))
        text-align: center;
            @include for-size('tablet-landscape-up') {
            display: table;
            @include padding(px-to-rem(24px),px-to-rem(48px),px-to-rem(24px),px-to-rem(24px))
            height: 100%;
            text-align: left;
            }
        }
        
        &--image{
            @include for-size('tablet-landscape-up') {
            width: px-to-rem(72px);    
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            }
            
            img {
            width: px-to-rem(72px)
            }
        }
        
        &--content{
            @include for-size('tablet-landscape-up') {
            display: table-cell;
            padding-left: px-to-rem(16px);
            }
        }
    }
    
    &__icon {
        width: px-to-rem(22px);
        height:px-to-rem(30px);
        padding-left: px-to-rem(8px);
        transition: margin 175ms ease;
    }
    
    &__link {
        color: $medBlue;
        font-weight: 300;
        text-decoration: none;
        
        &:hover {
           color: darken($medBlue, 15%);
           
           .select-box__icon {
            margin-left: px-to-rem(8px);
            }
        }
    }
}
