.seo {
	background-color: #f0f2f3;
	text-align: center;
	padding-top: px-to-rem(40px);
	padding-bottom: px-to-rem(40px);
	
	&__image{
		margin-bottom: px-to-rem(16px);
		
		img {
			max-height: 75px;
		}
	}
	
	&__text{
		@include font-size(12px, 2, important);
	}
	
	&__title {
		text-transform: uppercase;
	}
}


 .university-scholars {
     background-image: url(https://www.xavier.edu/_V5/_assets/images/blue-bg.jpg);
     background-size: cover;
     background-position: center center;
     color: #fff;
     padding-top: 3rem;
     padding-bottom: 3rem;
     text-align: left;

     @include for-size("tablet-landscape-up"){
     	text-align: center;
     }

    h2 {
	  color: #fff;
	}

	&__wrapper {
     padding-left: 2rem;
     padding-right: 2rem;

     @include for-size("tablet-landscape-up"){
      padding-left: 15%;
      adding-right: 15%;
     }

	}

	&__btn {
     width: fit-content;
     padding-left: 1rem;
     padding-right: 1rem;
     margin: 0 auto;

     @include for-size("tablet-landscape-up"){
      padding-left: 3rem;
      padding-right: 3rem;
     }

     &:hover {
	     width: fit-content;
	     padding-left: 3rem;
	     padding-right: 3rem;
	     margin: 0 auto;
		}

	}

}
