.seo {
	background-color: #f0f2f3;
	text-align: center;
	
	&__image{
		margin-bottom: px-to-rem(16px);
		
		img {
			max-height: 75px;
		}
	}
	
	&__text{
		@include font-size(8px, 3, important);
	}
	
	&__title {
		text-transform: uppercase;
	}
}