.shorthand {
	
&__wrapper {
	display: flex;

	&--left {
		flex-basis: 45%;
		padding: 2rem;
	}

	&--right {
		flex-basis: 55%;
		margin: 2rem 0;
		padding: 0 2rem;
		border-left: 1px solid $austinGrey;

		h1 {
			font-size: 1.75rem;
			line-height: 2rem;
		}
	}
}

}

#content .shorthand-embed-article a {
	 text-decoration: none !important;
	 border-bottom: none !important;
}

 .Theme-Section a span[class*=Theme-ForegroundColor], .Theme-Section a:visited span[class*=Theme-ForegroundColor] {
	 border-bottom: none !important;
}

 .Theme-Section a:active span[class*=Theme-ForegroundColor], .Theme-Section a:focus span[class*=Theme-ForegroundColor], .Theme-Section a:hover span[class*=Theme-ForegroundColor], .Theme-Section a:visited:active span[class*=Theme-ForegroundColor], .Theme-Section a:visited:focus span[class*=Theme-ForegroundColor], .Theme-Section a:visited:hover span[class*=Theme-ForegroundColor] {
	 border-bottom: none !important;
}