.stats{
  background: $darkNavy;
  text-align: center;
  justify-content: space-between;
  background-image: url("/_V5/_assets/images/stats/statsbkg_1x.png");
  background-size: cover;
  @include padding(px-to-rem(72px), null, px-to-rem(72px), null);
  @include for-size("tablet-landscape-up"){
    background-image: image-set( url("/_V5/_assets/images/stats/statsbkg_1x.png") 1x, url("/_V5/_assets/images/stats/statsbkg_2x.png") 2x );
    @include padding(px-to-rem(144px), null, px-to-rem(144px), null);
  }
  &__title, &__description{
    max-width: 75%;
    @include margin(null, auto, null, auto);
  }
  
  &__title{
    color: white;
    margin-top: 0;
  }
  &__description{
    color: white;
    
  }
  
  &__item{
    color: white;
    @include margin(px-to-rem(16px), null, px-to-rem(8px), null);
    @include for-size("tablet-landscape-up"){
      width: calc(100% / 3);  
    }
  }
  
  &__number, &__label{
    display: block;
    font-weight: 300;
  }
  
  &__number{
    @include font-size(84px);
  }
  
  &__label{
    text-transform: uppercase;
    @include font-size(20px, 1);
    @include for-size("tablet-landscape-up"){
      @include font-size(24px, 1);
    }
    &--alt{
      display: block;
      color: $lightBlue;
      @include font-size(20px, 1);
      @include for-size("tablet-landscape-up"){
        @include font-size(20px, 1);  
      }
      
    }
  }
  
  &__container{
    @include margin(0, auto, 0, auto);  
    @include for-size("tablet-landscape-up"){
      width: 65%;
    }
  }
}