.stats{
  background: $darkNavy;
  text-align: center;
  justify-content: space-between;
  background-image: url("/images/hero/StatsBKG_1x.png");
  background-image: image-set( url("/images/hero/StatsBKG_1x.png") 1x, url("/images/hero/StatsBKG_2x.png") 2x );
  background-size: cover;
  @include padding(px-to-rem(32px), null, px-to-rem(32px), null);
  &__title, &__description{
    max-width: 75%;
    @include margin(null, auto, null, auto);
  }
  
  &__title{
    color: white;
  }
  &__description{
    color: white;
    
  }
  
  &__item{
    color: white;
    @include margin(px-to-rem(16px), null, px-to-rem(8px), null);
    @include for-size("tablet-landscape-up"){
      width: calc(100% / 3);  
    }
  }
  
  &__number, &__label{
    display: block;
    font-weight: 300;
  }
  
  &__number{
    @include font-size(72px);
  }
  
  &__label{
    text-transform: uppercase;
    @include font-size(26px, 1.25);
    @include for-size("tablet-landscape-up"){
      @include font-size(32px, 1.25);
    }
    &--alt{
      display: block;
      color: $lightBlue;
      @include font-size(24px, 1.25);
      @include for-size("tablet-landscape-up"){
        @include font-size(28px, 1.25);  
      }
      
    }
  }
  
  &__container{
    @include margin(0, auto, 0, auto);  
    @include for-size("tablet-landscape-up"){
      width: 65%;
    }
  }
}