.testimonials{
  text-align: left;

  @include for-size("tablet-landscape-up"){
    text-align: center;
  }
  
  &__header {  
  }
  &__desc{
    width: auto;
    margin: auto;

    @include for-size("tablet-landscape-up"){
      width: 75%;
      margin: 0 auto;
    }
  }
}
.testimonial{
    background: #F0F2F3;
    @include padding(px-to-rem(32px), px-to-rem(32px), px-to-rem(32px), px-to-rem(32px));
  &__wrapper {
    @include margin(px-to-rem(24px), null, null, null);
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: px-to-rem(16px);
    @include for-size("desktop-up"){
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: 1fr; 
      grid-column-gap: px-to-rem(16px);
      grid-row-gap: 0px;
    }
  }
  
  &__content{
    &--quotemark{
      width: px-to-rem(35px);
      height: px-to-rem(25px);
    }
    &--quote{
      @include margin(px-to-rem(16px), null, px-to-rem(12px), null)

      @include for-size("tablet-landscape-up"){
        @include margin(px-to-rem(32px), null, px-to-rem(12px), null)
      }
    }
    &--name{
      font-weight: 300;
      text-transform: uppercase;
      @include margin(px-to-rem(32px), null, px-to-rem(0px), null)
    }
    &--attr{
      font-style: italic;
    }
  }
}