#video-overlay{
  background: rgba(0,0,0,.85);
  transition: all .75s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  user-select: none;
  display: none;
  width: 100vw;
  height: 100vh;
}

.video-overlay-container{
  padding: 5%;
  vertical-align: middle;
}