// Scren reader only text. Doesn't display on the screen, but flows with the normal content.
.sr-only{
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
}

// When the navigation is open, use this to stop the scroll events on body.
.nav-open{
  overflow: hidden;
  
  .overlay{
    display: initial;
    background-color: rgba(255,255,255,0.75);
    	height: 100%;
    	margin: 0;
    	padding: 0;
    	position: fixed;
    top: 0;
    	left: 0;
    width: 100%;
    	z-index: 99; /* places the modal overlay between the main page and the modal dialog*/
    	transition: all 250ms;
  }
}