// Scren reader only text. Doesn't display on the screen, but flows with the normal content.
.sr-only{
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
}

// When the navigation is open, use this to stop the scroll events on body.
.nav-open{
  overflow: hidden !important;
  height: 100%;
  .overlay{
    display: initial;
    background-color: rgba(255,255,255,0.75);
    	height: 100%;
    	margin: 0;
    	padding: 0;
    	position: fixed;
    top: 0;
    	left: 0;
    width: 100%;
    	z-index: 99; /* places the modal overlay between the main page and the modal dialog*/
    	transition: all 250ms;
    cursor:url('data:image/svg+xml,%3Csvg height="24" width="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E
  %3Ctitle%3EClose%3C/title%3E
  %3Cpolygon fill="#{$darkNavy}" points="0 21.9201 1.413 23.3331 23.333 1.4131 21.919 0.0001"%3E%3C/polygon%3E
  %3Cpolygon fill="#{$darkNavy}" points="0 1.4127 21.919 23.3327 23.333 21.9197 1.413 0.0007"%3E%3C/polygon%3E
%3C/svg%3E'), pointer;
  }
}

.hidden{
  display: none;
}

.mobile {
  display: block;
    @include for-size("tablet-landscape-up"){
      display: none;
    }
}

.desktop {
  display: none;
    @include for-size("tablet-landscape-up"){
      display: block;
    }
}