
// For the toggles
[data-state=is-hidden]{
  display:none;
}
[data-state=is-visible]{
  display: block;
}

.sr-only{
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
}

// When the navigation is open, use this to stop the scroll events on body.
.nav-open{
  overflow-y: hidden;
  height: 100vh;
  
  > .overlay{
    background-color: rgba(255,255,255,0.75);
    	height: 100%;
    	margin: 0;
    	padding: 0;
    	position: fixed;
    top: 0;
    	left: 0;
    width: 100%;
    	z-index: 100; /* places the modal overlay between the main page and the modal dialog*/
  }
}