.list--bare{
  list-style: none;
  @include margin(0, null, null, 0);
  @include padding(0, null, null, 0);
  &__item{
    margin-left: 0;
  }
}

.list--inline{
  @extend .list--bare;
  &__item{
    display: inline;
  }
}
.list--dash{
  list-style: none;
  padding-left: 0;
  
  li{
    margin-left: 15px;  
    
    &::before{
      content: "-\a0";
      margin-left: -15px;
    }
  }
}