.wrapper{
  position: relative;
  @include padding(null, px-to-rem(32px), null, px-to-rem(32px));
  @include for-size("desktop-up"){
    @include padding(null, px-to-rem(94px), null, px-to-rem(94px));
  }
  
  &--academic{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include for-size('tablet-landscape-up'){
      flex-wrap: nowrap;
    }
  }

  &--apply{
    padding-top:8rem;
  }

}